{% extends 'admin/layouts/object_editor.html.twig' %}

{% set backToRoute = 'admin_product_edit_launch' %}
{% set backToRouteParams = {'id': asset.id} %}
{% set areaHeading = 'Asset Products' %}
{% set mainHeading = 'Launch Centre - ' ~  mode|capitalize %}

{% block page_content %}
    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": "launch-config",
        "sectionTitle": "Launch Configuration",
        "sectionStyle": "",
    } %}
        {% block sectionContent %}
        {% if mode == enum('App\\Entity\\Enum\\ProductMode').Retail.value and repaymentSummary is not empty %}
        {{ include('admin/components/_alert.html.twig', {
            variant: "notice",
            title: "Prefunding to Retail Switch",
            message: "The number of shares is prefilled with the number of shares prefunders are due to be repaid. This is less than the total number of shares in the asset.",
        }) }}
        {% endif %}
        {{ form_start(form) }}
        <div class="row ">
            <div class="col-md-6">{{ form_row(form.pricePerShare) }}</div>
            <div class="col-md-6">{{ form_row(form.numberOfShares) }}</div>
            <div class="col-md-6">{{ form_row(form.minimumInvestment) }}</div>
            <div class="col-md-6">{{ form_row(form.maximumInvestment) }}</div>
        </div>
        <div class="d-flex flex-wrap gap-2">
            <button class="btn btn-success text-nowrap" id="submit" type="submit">Launch to {{ mode|capitalize }}</button>
            <a class="btn btn-outline-secondary text-nowrap" 
                href="{{ path('admin_product_edit_launch', {'id': asset.id}) }}">Cancel</a>
        </div>
        {{ form_end(form) }}
        {% endblock %}
    {% endembed %}

{% endblock page_content %}