{% extends 'admin/layouts/object_editor.html.twig' %}

{% set backToRoute = backToRoute|default('admin_trade_order_index') %}
{% set areaHeading = 'Trade Orders' %}
{% set mainHeading = mainHeading|default('Create Trade Order') %}
{% set baseTemplate = 'cms' %}
{% set maturityLabel = 'alpha' %}

{% if tradeOrder is defined and tradeOrder.id is not null %}
    {% set backToRoute = 'admin_trade_order_view' %}
    {% set backToRouteParams = { id: tradeOrder.id } %}
    {% set mainHeading = 'Edit Trade Order #' ~ tradeOrder.id %}
{% endif %}

{# Configure page blocks #}
{% block formContents %}
    <section class="row">
        <h5 class="fw-bold fs-5">Core Information</h5>
        <div class="col-sm-6">{{ form_row(form.direction) }}</div>
        <div class="col-sm-6">{{ form_row(form.type) }}</div>
        <div class="col-sm-6">{{ form_row(form.asset, {attr: {'class': 'searchable' }}) }}</div>
        <div class="col-sm-6">{{ form_row(form.user, {attr: {'class': 'searchable' }}) }}</div>
        <div class="col-sm-6">{{ form_row(form.numberOfShares) }}</div>
        <div class="col-sm-6">{{ form_row(form.pricePerShare) }}</div>
    </section>
    <section class="row">
        <h5 class="fw-bold fs-5">Optional Information</h5>
        <div class="col-sm-6">{{ form_row(form.fees) }}</div>
        <div class="col-sm-6">{{ form_row(form.taxes) }}</div>
        <div class="col-sm-6">{{ form_row(form.minimumShares) }}</div>
        <div class="col-sm-6">{{ form_row(form.maximumShares) }}</div>
        <div class="col-sm-6">{{ form_row(form.transaction) }}</div>
        <div class="col-sm-6">{{ form_row(form.transactionReference) }}</div>
        <div class="col-sm-6">{{ form_row(form.expiration) }}</div>
        {% if tradeOrder is not defined or tradeOrder.id is null %}<div class="col-sm-6">{{ form_row(form.status) }}</div>{% endif %}
        <div class="col-sm-6">{{ form_row(form.complementaryOrder) }}</div>
        <div class="col-12">{{ form_row(form.notes) }}</div>
    </section>
{% endblock %}

{% block formSubmit %}
    {% if tradeOrder is not defined or tradeOrder.id is null %}
        <button class="btn btn-success" id="submit" type="submit">Create Trade Order</button>
        <a class="btn btn-outline-secondary text-nowrap" href="{{ path(backToRoute) }}">Abandon</a>
    {% else %}
        <button class="btn btn-primary" id="submit" type="submit">Save Changes</button>
        <a class="btn btn-outline-secondary text-nowrap" href="{{ path(backToRoute, backToRouteParams) }}">Cancel</a>
    {% endif %}
{% endblock %}
