<div
    class="teams-nav mb-2 mb-md-0">
    <!-- team navigation -->
    <div class="nav tabimg flex-row flex-md-column" role="tablist" aria-orientation="vertical">
        <a class="tabimg-item active rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff1-tab" data-toggle="pill" href="#staff1" role="tab" aria-controls="staff1" aria-selected="true">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}iffan-khan-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
        <a class="tabimg-item rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff2-tab" data-toggle="pill" href="#staff2" role="tab" aria-controls="staff2" aria-selected="false">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}abdul-haseeb-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
        <a class="tabimg-item rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff3-tab" data-toggle="pill" href="#staff3" role="tab" aria-controls="staff3" aria-selected="false">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}zeeshan-uppal-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
        <a class="tabimg-item rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff4-tab" data-toggle="pill" href="#staff4" role="tab" aria-controls="staff4" aria-selected="false">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}abid-karim-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
        <a class="tabimg-item rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff5-tab" data-toggle="pill" href="#staff5" role="tab" aria-controls="staff5" aria-selected="false">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}marway-adawy-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
        <a class="tabimg-item rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff7-tab" data-toggle="pill" href="#staff7" role="tab" aria-controls="staff7" aria-selected="false">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}madinah-waffa-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
        <a class="tabimg-item rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff9-tab" data-toggle="pill" href="#staff9" role="tab" aria-controls="staff9" aria-selected="false">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}bilal-dard-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
        <a class="tabimg-item rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff8-tab" data-toggle="pill" href="#staff8" role="tab" aria-controls="staff8" aria-selected="false">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}william-ryan-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
        <a class="tabimg-item rounded-circle d-flex justify-content-center align-items-center mb-0 mb-md-1 mr-1 mr-md-0" id="staff6-tab" data-toggle="pill" href="#staff6" role="tab" aria-controls="staff6" aria-selected="false">
            <span class="tabimg-imgholder rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                <img src="{{asset('bundles/app/img/')}}josh-thakrar-thumb.jpg" loading="lazy" alt="">
            </span>
        </a>
    </div>
</div>
<div class="teams-content pt-lg-2">
    <div class="tab-content pt-lg-8" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="staff1" role="tabpanel" aria-labelledby="staff1-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}iffan-khan.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Founder</p>
                        <h3 class="h1">Irfan
                            <br>Khan</h3>
                        <p>Qualified Chartered Accountant & Financial Transformation Specialist</p>
                        <p>Irfan Khan, ACMA, is the founder of Yielders, the UK’s first Islamic FinTech
                                                        crowdfunding platform to be directly regulated by the FCA. With over 17
                                                        years’ experience in financial services, he has delivered...</p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#irfankhan">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="staff2" role="tabpanel" aria-labelledby="staff2-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}abdul-haseeb.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Senior Non Executive Director</p>
                        <h3 class="h1">Abdul
                            <br>Haseeb Basit
                        </h3>
                        <p>Specialist in Digital Finance</p>
                        <p>Abdul Haseeb is a digital finance specialist and has over 17 years'
                                                        experience working at the intersection of finance, technology and strategy.
                                                        He is a Co-Founder and Principal of Elipses...</p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#abdhul">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="staff3" role="tabpanel" aria-labelledby="staff3-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}zeeshan-uppal.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Co-Founder & COO</p>
                        <h3 class="h1">Zeeshan
                            <br>Uppal</h3>
                        <p>KYC/AML specialist & Financial services compliance consultant</p>
                        <p>Zeeshan began his career in financial crime working on one of the largest
                                                        transformation projects in the city. Zeeshan is a strategic thinker with
                                                        proven ability to deliver innovative...</p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#zeeshan">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="staff4" role="tabpanel" aria-labelledby="staff4-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}abid-karim.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Co-Founder & CIO</p>
                        <h3 class="h1">Abid
                            <br>Karim
                        </h3>
                        <p>Expert in Real Estate acquisition, development/management & Tax Consultant
                        </p>
                        <p>Abid started his business career in 2005 and has been active in the fields of
                                                        e-commerce, retail and property for over 15 years. He has been involved in
                                                        buying, developing and consulting...</p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#abid">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="staff5" role="tabpanel" aria-labelledby="staff5-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}marway-adawy.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Senior Technical Lead / Scrum Master</p>
                        <h3 class="h1">Marwa
                            <br>Adawy
                        </h3>
                        <p>Software Engineer & Qualified Scrum Master</p>
                        <p>With a background in software engineering, Marwa stepped into the world of a
                                                        startup Fintech firm bringing along several years of software development
                                                        experience and quickly became an instrumental part of the company’s....</p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#marwa">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="staff7" role="tabpanel" aria-labelledby="staff7-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}madinah-waffa.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Operations Analyst</p>
                        <h3 class="h1">Madinah
                            <br>Waffa
                        </h3>
                        <p>Operations Analyst</p>
                        <p>With an MSc from UCL, Madinah has experience at the Big Four accounting firm KPMG as well as at the Bank of England. She joined in September 2019 as an Operations Analyst at Yielders and is responsible for supporting business processes...
                        </p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#madinah">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="staff8" role="tabpanel" aria-labelledby="staff8-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}william-ryan.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Analyst</p>
                        <h3 class="h1">William
                            <br>Ryan
                        </h3>
                        <p>Analyst</p>
                        <p>William joined Yielders in 2021 as an operations and partnerships analyst after completing a MSc in Islamic Finance from Durham University. He works primarily in the Operations Team, while also supporting communications and investment activities.
                        </p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#william">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="staff9" role="tabpanel" aria-labelledby="staff9-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}bilal-dard.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Investment Analyst</p>
                        <h3 class="h1">Bilal
                            <br>Dard
                        </h3>
                        <p>Investment Analyst</p>
                        <p>Bilal is a ACCA qualified accountant. Who has strong experience in private equity, having contributed to tripling a healthcare companies AUM. He is tasked with financial modelling of property investments, and building Yielders deal flow, aiming to make Yielders a force to deal within the property investment world.
                        </p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#bilal">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="staff6" role="tabpanel" aria-labelledby="staff6-tab">
            <div class="row bg-light no-gutters">
                <div class="col-lg-6 text-center text-lg-left">
                    <img src="{{asset('bundles/app/img/')}}josh-thakrar.jpg" loading="lazy" alt="" class="rounded img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="p-2 p-md-4">
                        <p class="text-uppercase font-medium">Senior Investment Analyst</p>
                        <h3 class="h1">Josh
                            <br>Thakrar
                        </h3>
                        <p>Senior Investment Analyst</p>
                        <p>Josh joined the Yielders team in 2018 as an investment analyst. With
                                                        experience in consulting and investment management, he is now responsible
                                                        for conducting the financial modelling for the property assets we offer.....
                        </p>
                        <a href="#" class="btn-underline font-medium" data-toggle="modal" data-target="#josh">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
