{% extends '@AppBundle/base.html.twig' %}

{% block title %}Terms & Conditions
{% endblock %}


{% block body %}
	<!-- hero banner -->
	<div class="hero-banner terms-condition banner-medium bg-fixed bg-overlay">
		<div class="container pt-6 pt-md-8 position-relative layer-z-1">
			<div class="hero-banner-content pr-2 py-4 text-center">
				<div class="row">
					<div class="col-lg-9 mx-auto">
						<h2 class="h1 hero-banner-hd text-light mb-3">
							Terms &amp; Conditions
						</h2>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="privacy-block terms-box">
		<div class="container">
			<div class="accordion-block">
				<div class="accordion-content">
					<div class="head">
						<h3>1.DEFINITIONS</h3>
						<div class="accordion-details">
							<p>1.1
								<strong>Agreement:</strong>
								the agreement between the Company and Shareholder in relation his
								
								                                investment in the Company via Yielders.
							</p>
							<p>1.2
								<strong>AML Laws:</strong>
								all laws, regulations, and obligations imposed upon us through statute or
								
								                                by our regulators, to complete checks against you to verify your identity, address and
								
								                                source of funds, including but not limited to legislation governing the proceeds of
								
								                                crime, terrorism and money laundering that are in force at the date of the Terms,
								
								                                when you become a Registered User of the site, as amended from time to time,
								
								                                including but not limited to the Money Laundering Regulations 2007 (as amended).
							</p>
							<p>
								1.3
								<strong>
									Capital Growth:</strong>
								the net growth in the value of the asset owned by a Company or the
								
								                                shares of a Company as the case may be, calculated in accordance with clause 10.5.

							</p>
							<p>1.4
								<strong>Company:</strong>
								a special purpose limited company incorporated for the purpose of
								
								                                acquiring, holding and managing an asset shown on the site as detailed in a given
								
								                                Company Pitch.</p>

							<p>1.5
								<strong>
									Company Pitch:</strong>
								information about an asset to be owned by a Company displayed on
								
								                            the site for investment by a Registered User.</p>

							<p>1.6
								<strong>Company Shares:</strong>
								shares in a Company.</p>

							<p>1.7
								<strong>Confirmation Email:</strong>
								email confirmation / notification on the Platform at the expiry
								
								                            of the Offer Period that completion in accordance with the Agreement has taken place
								
								                            and you are now a Shareholder of the Company.</p>

							<p>1.8
								<strong>E-wallet:</strong>
								a segregated account held with Mango Pay (<a href="www.mangopay.com" target="_blank">www.mangopay.com</a>).</p>
							<p>1.9
								<strong>Funding Goal:</strong>
								the target level of funding required for a given Company Pitch.</p>


							<p>1.10
								<strong>Holding E-wallet:</strong>
								a segregated account held with Mango Pay (<a href="www.mangopay.com" target="_blank">www.mangopay.com</a>)
									
									                            allocated to a specific Company to be used as the account where all Investment Funds
									
									                            will be placed before being separated into further designated E-wallets for the
									
									                            purposes of the particular Company and Shareholder.</p>

							<p>1.11
								<strong>Investment Funds:</strong>
								the total amount of funds you invest in Company Shares plus all
								
								                            ancillary costs and fees as detailed in the Company Pitch, Prospectus and Terms.</p>

							<p>1.12
								<strong>Investment:</strong>
								your acquisition of Company Shares in exchange for payment of the
								
								                            Investment Funds.</p>

							<p>1.13
								<strong>Login Details:</strong>
								your username, email address and secure password required pursuant
								
								                            to the security specifications of the site in respect of your membership to the site.</p>

							<p>1.14
								<strong>Offer Period: as defined in clause 8.4.</strong>
							</p>

							<p>1.15
								<strong>Order:</strong>
								an irrevocable order for Company Shares.</p>

							<p>1.16
								<strong>Overseas Shareholders:</strong>
								persons who are resident, or citizens or nationals of,
								
								                            jurisdictions outside the United Kingdom or who are nominees of, or custodians,
								
								                            trustees or guardians for, citizens or nationals of such jurisdictions or companies
								
								                            which are incorporated or registered outside the United Kingdom.</p>

							<p>1.17
								<strong>
									Platform:</strong>
								the crowd funding platform owned and managed by Yielders where
								
								                            Registered Users may register and invest in Companies and become Shareholders.</p>

							<p>1.18
								<strong>
									Proceedings:</strong>
								the meaning given to it in clause 17.3(a).</p>

							<p>1.19
								<strong>
									Prospectus:</strong>
								a document summarising the terms and basis upon which you may
								
								                            become a Shareholder in a given Company and your rights and obligations in respect
								
								                            of the same.</p>

							<p>1.20
								<strong>
									Registered User:</strong>
								a potential investor registered on the site and thereby permitted to
								
								                            invest in Companies via the Platform.</p>

							<p>1.21
								<strong>
									site:</strong>
								<a href="www.yielders.co.uk">www.yielders.co.uk</a>
							</p>

							<p>1.22
								<strong>
									Shareholder:</strong>
								an investor in a Company via Yielders.</p>

							<p>1.23
								<strong>
									Terms:</strong>
								these general terms and conditions, the Agreement, Yielders’ cookie policy,
								
								                            privacy policy, website terms of use, website acceptable use policy more particularly
								
								                            described in clause 3 and all terms and conditions of Yielders published on their
								
								                            website as updated from time to time (or any part thereof).</p>

							<p>1.24
								<strong>
									Top Yielders:</strong>
								the initial Shareholders of a given Company.</p>

							<p>1.25
								<strong>
									Yielders:</strong>
								Yielders Limited of The Old Police Station, 82 High Street, Golborne,
								
								                            Warrington, WA3 3DA.</p>
						</div>
					</div>
				</div>
				<div class="accordion-content">
					<div class="head">
						<h3>2.CROWDFUNDER TERMS AND CONDITIONS</h3>
						<div class="accordion-details">
							<p>
								2.1 These Terms (together with the documents referred to in it) explain how you may
								
								                            become a Shareholder and how to use and register on Yielders’ Platform via the site.</p>

							<p>
								2.2 The site provides you with information on assets and / or companies which you may
								
								                            invest in by acquiring shares in a Company.</p>

							<p>2.3 Please read these Terms carefully before you start to use the site, as they will apply to
								
								                            your use of the site and the Platform. We recommend that you print a copy of these
								
								                            Terms for future reference.</p>

							<p>2.4 By using the site or registering on the Platform, you confirm that you have read,
								
								                            understood and accepted these Terms and that you agree to comply with them.</p>

							<p>2.5 If you do not agree to these Terms or are not permitted to do so for any reason, you
								
								                            must not use the site.</p>

							<p>2.6 References in these Terms to
								<strong>“we”</strong>,
								<strong>“us”</strong>
								and
								<strong>“our”</strong>
								mean Yielders.</p>

							<p>2.7 References to
								<strong>“you”</strong>
								and
								<strong>“your”</strong>
								mean a Registered User, Shareholder (or Overseas
								
								                            Shareholder if applicable) on the site.</p>
						</div>
					</div>
				</div>
				<div class="accordion-content">
					<div class="head">
						<h3>3.OTHER APPLICABLE TERMS</h3>
						<div class="accordion-details">
							<p>3.1 These Terms refer to the following additional terms and policies, which also apply to
								
								                            you and your use of the site:</p>
							<ul>
								<li>
									<a href="{{ path('privacy_policy') }}">Our terms of site
									</a>,
									
									                                    which sets out the terms on which you may make use of the site, whether as
									
									                                    a guest or a registered user, which includes accessing, browsing or
									
									                                    registering to use the site. By using the site, you must agree and comply
									
									                                    with the Terms of site Use.
								</li>
								<li>

									<a href="{{ path('privacy_policy') }}">Our privacy policy</a>, which sets out
										
										                                    the terms on which we process any personal data we collect from you, or
										
										                                    that you provide to us. By using our site, you consent to such processing and
										
										                                    you warrant that all data provided by you is accurate.
								</li>
								<li>
									<a href="{{ path('privacy_policy') }}">Our acceptable use policy</a>,
										
										                                    which sets out the permitted uses and prohibited uses of our site. When
										
										                                    using our site, you must comply with this acceptable use policy.
								</li>
								<li>
									<a href="{{ path('privacy_policy') }}">our cookie policy</a>, which sets out
										                                    information about the cookies on our site.
								</li>
								<li>
									the Agreement.
								</li>
							</ul>


						</div>
					</div>
				</div>
				<div class="accordion-content">
					<div class="head">
						<h3>4.INFORMATION ABOUT US</h3>
						<div class="accordion-details">
							<p>4.1 The site is operated by Yielders Limited. We are registered in England and Wales
								
								                            under company number 09757611 and have our registered office at The Old Police
								
								                            Station, 82 High Street, Golborne, Warrington WA3 3DA. Our main trading address
								
								                            is The Old Police Station, 82 High Street, Golborne, Warrington WA3 3DA. Yielders
								
								                            is a trading style of Yielders Limited. Yielders Limited is not VAT registered. If this
								
								                            changes, this page and the site will be updated accordingly.</p>

							<p>Yielders Limited is directly authorised and regulated by the Financial Conduct Authority (745636)</p>

							<p>4.3 Yielders Limited is registered with the Information Commissioner’s Office with
								
								                            registration number ‘ZA146401’.</p>

							<p>4.4 Yielders Limited owns registered trademark number ‘UK00003135269’.</p>
						</div>
					</div>
				</div>

				<div class="accordion-content">
					<div class="head">
						<h3>5.SITE CONTENT AND DISCLAIMER</h3>
						<div class="accordion-details">
							<p>5.1 We make no guarantee of any specific results from entering into an investment in a
								
								                            Company on the site including any net income and/or the capital return realised.</p>
							<p>5.2 The investments on the site may not be suitable for all investors and if you are in any
								
								                            doubt as to the suitability of the investments, you should seek independent financial
								
								                            advice. Please note that by proceeding with an investment, you are confirming to us
								
								                            that you have sought independent financial advice and are content to proceed with the
								
								                            investment and all risks associated with it.</p>

							<p>5.3 Any information, commentary, figures, percentages, indications, estimations or any
								
								                            other material contained on the site provided via the site or directly to people who
								
								                            wish to engage with the Platform in relation to any of the opportunities described on
								
								                            the site is provided by Yielders in the form in which such information has been
								
								                            provided to Yielders and Yielders takes no responsibility for and assumes no liability
								
								                            in relation to such information (including its accuracy), which is a matter for the
								
								                            parties making the information available in the first instance. Some of the information
								
								                            featured on the site is provided by third parties and accordingly Yielders does not
								
								                            accept any responsibility and disclaims any and all liability for any such information
								
								                            (including the accuracy of such information) featured or views and opinions
								
								                            expressed on the site.</p>

							<p>5.4 Yielders is not, by virtue of making information available on the site (or any other
								
								                            information provided by Yielders), providing advice to you or any person in relation
								
								                            to the quality or viability of any property or investment, nor does Yielders provide
								
								                            general or specific investment advice. Any decision to invest in a Company
								
								                            advertised on the site is solely your own. If you are considering potential investment
								
								                            opportunities featured on the site, you should carry out your own due diligence in
								
								                            respect of such opportunity and make your own commercial assessment of an
								
								                            investment opportunity after seeking the advice of an appropriately authorised
								
								                            independent financial advisor. You are encouraged to take your own independent
								
								                            legal and taxation advice, together with any other advice you consider necessary in
								
								                            order to consider the benefits and risks attached to an investment opportunity.</p>

							<p>5.5 Yielders reserves the right to require you to sign an undertaking that you are either a
								
								                            retail investor, high net worth or a sophisticated investor within the meaning of the
								
								                            Financial Services and Markets Act 2000 (Financial Promotions Order 2005 (as
								
								                            amended) and / or that you have taken the advice of an appropriately authorised and
								
								                            qualified person before obtaining any funder information and before being permitted
								
								                            to enter into any investment opportunity.</p>

							<p>5.6 The value of any investment, including an investment in the share capital of any
								
								                            company or in any asset can go down as well as up and Shareholders may lose all or
								
								                            part of the money they invest. Whilst investment opportunities will generally be
								
								                            secured against real property, Shareholders must understand that there are risks
								
								                            associated with investments generally, including real estate investment, such as
								
								                            economic factors which can affect (positively and negatively) market values of the
								
								                            same.</p>

						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>6.SHAREHOLDER REGISTRATION</h3>
						<div class="accordion-details">

							<p>6.1 To become a Shareholder in a Company, you must register your details on the site
								
								                            and confirm your acceptance of the Terms (with the exception of the Agreement for
								
								                            the purposes of registration) to first successfully become a Registered User at

								<a href="http://www.yielders.co.uk/?required=login">http://www.yielders.co.uk/</a>
								and meet the following
								
								                            requirements (as they may be applicable to you) and warrant to us that:</p>
							<ul>
								<li>
									(a) you are either an individual, a limited company, a limited liability
									
									                            partnership, a pension scheme, a trust or public body;</li>

								<li>(b) you have fully read, understand, and accepted the Terms and agree to be
									
									                            bound by them and to comply with them as required;</li>

								<li>
									(c) you are legally capable of entering into binding contracts in your own
									
									                            capacity and no other authorisation or permission is required to enable you
									
									                            to do so, but where such authorisation or permission may be required, that
									
									                            you have procured the same before registering on the site;</li>

								<li>(d) if you are investing in your capacity as an individual, you are 18 years of
									
									                            age or older and a permanent resident of the United Kingdom (excluding the
									
									                            Channel Islands and the Isle of Man);</li>


								<li>(e) if you are an Overseas Shareholder (which is defined in clause 7.3), you
									
									                            agree to comply with the requirements set out in clause 7 and any
									
									                            requirements in this clause that may be applicable to you;</li>

								<li>(f) you are accessing the site from the United Kingdom or otherwise you may
									
									                            be considered an Overseas Shareholder and agree to comply with the
									
									                            requirements set out in clause 7 and any requirements in this clause that
									
									                            may be applicable to you;</li>

								<li>
									(g) if you are a limited company or limited liability partnership, you are
									
									                            registered with Companies House with active company status, and have a
									
									                            permanent place of business in the UK (excluding the Channel Islands and
									
									                            the Isle of Man) or if you are an Overseas Shareholder in respect of this
									
									                            clause 6.1(g), you agree to comply with the requirements set out in clause 7;</li>

								<li>(h) if you are a partnership or a trust, you are registered with Companies House,
									
									                            the Charites Commission or any other relevant authority with active status,
									
									                            have a permanent place of business in the United Kingdom (excluding the
									
									                            Channel Islands and the Isle of Man) or if you are an Overseas Shareholder
									
									                            in respect of this clause 6.1(h), you agree to comply with the requirements
									
									                            set out in clause 7;</li>

								<li>(i) if you are a pension scheme, you have an appropriately approved and
									
									                            authorised provider/operator, or if you are an Overseas Shareholder in
									
									                            respect of this clause 6.1(i), you agree to comply with the requirements set
									
									                            out in clause 7;</li>

								<li>(j) if you are a public body, you are registered or formed with the relevant
									
									                            authority in the UK (excluding the Channel Islands and Isle of Man);
									
									                            (k) you have a valid bank or building society account;</li>

								<li>(l) you agree that you shall comply with such identification and other anti-
									
									                            money laundering requirements that we may require from time to time. In
									
									                            particular, we may require identification of Shareholders and information
									
									                            about the sources of funds being provided by the Shareholder for
									
									                            Investment Funds which Yielders considers, in its sole direction, to be
									
									                            substantial;</li>

								<li>(m) you are investing in a Company for yourself in your own name and will
									
									                            ensure that all orders for Company Shares made through the site are made
									
									                            exclusively on your own behalf. If there is any nominee or trust relationship
									
									                            by way of which you have agreed to hold the Company Shares on behalf of
									
									                            someone else, you must disclose this information to us before you invest in
									
									                            the Company;</li>

								<li>(n) you are not bankrupt or in the middle of a dispute, court proceedings or
									
									                            otherwise that will likely have an impact on your ability to hold full and
									
									                            unencumbered legal and beneficial title to the Shares in the Company.</li>
							</ul>

							<p>6.2 In order to successfully register with us, you must provide Login Details for your
								
								                            membership on the Platform. Your Login Details will be specific to your membership
								
								                            to the site.</p>

							<p>6.3 The following clauses explain how your Login Details are to be used and the terms
								
								                            applicable to them:</p>
							<ul>


								<li>
									(a) your Login Details must be used each time in order to access certain parts of
									
									                                the site such as the Platform and will be requested each time you access
									
									                                your account;</li>

								<li>(b) your Login Details are personal to your account and are not transferable;</li>

								<li>(c) your Login Details are the methods used by us to identify you and you must
									
									                                keep them secure at all times;</li>

								<li>(d) you are responsible for all information and activity on the site by anyone
									
									                                using your Login Details;
								</li>

								<li>(e) if you authorise an employee, sub-contractor, agent or any other person to
									
									                                use your account, you will be responsible for their activity on the site;</li>

								<li>
									(f) any breach of security, loss, theft or unauthorised use of any part of your
									
									                                Login Details must be notified to us immediately by contacting
									
									                                    team@yielders.co.uk.</li>
							</ul>


							<p>6.4 We reserve the right not to act on your instructions where we suspect that the person
								
								                            logged into your account is not you or we suspect illegal or fraudulent activity or
								
								                            unauthorised use.</p>

							<p>6.5 Once you are registered on the site, we will carry out identity and fraud checks on
								
								                            you and where applicable on you as a proprietor, member or director of your business
								
								                            and on other members, or directors of the business. We use our own internal
								
								                            guidelines and policies when assessing applications but have complete discretion as
								
								                            to whether to allow you to be a Shareholder on the Platform. We may ask you to
								
								                            submit details of passports or other identification documents, bank details plus a
								
								                            utility bill and anything else we may reasonably request in order to confirm your
								
								                            identity and verify your source of funds.</p>

							<p>6.6 If the information you supply is insufficient to confirm your identity, enable fraud
								
								                            checks to be carried out, or satisfy our anti-money laundering requirements required
								
								                            of us pursuant to the AML Laws (and if any further information or documents which
								
								                            we may, at our sole discretion, request from you, are not supplied to our satisfaction)
								
								                            you may not be able to invest through the Platform and your registration will be
								
								                            refused or terminated.</p>

							<p>6.7 For details about how we use your information, please refer to our privacy policy
								
								                            [LINK TO SITE&#39;S PRIVACY POLICY].</p>


							<p>6.8 If your registration is approved by us, you will be entitled to make Orders to acquire
								
								                            Company Shares through the Platform. We may, however, at our absolute discretion
								
								                            refuse to permit you to invest in any or all Company’s advertised on the Platform at
								
								                            any time and for any reason. We also reserve the right to withdraw advertised
								
								                            Company’s from the Platform at any time for any reason without any liability to you.</p>

							<p>6.9 You may only invest using your Login Details and you must ensure that all Orders for
								
								                            the subscription of Company Shares are made exclusively on your own behalf.</p>

							<p>6.10 Please note that successful registration will be dependent on completion of
								
								                            satisfactory background checks and requests for further information may be requested
								
								                            as and when requested in order that we may be satisfied of your eligibility and
								
								                            compliance with legislation on an ongoing basis.</p>

							<p>6.11 If you do not accept the Terms (with the exception of the Agreement for the purposes
								
								                            of registration), you will not be permitted to continue using the site, Platform or
								
								                            become a Registered User for the purposes of investing in Companies via Yielders.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>7.OVERSEAS SHAREHOLDERS</h3>
						<div class="accordion-details">
							<p>7.1 The site is only intended for use by persons resident in the United Kingdom and,
								
								                            subject to clause 7.2 below, Shareholders from other jurisdictions warrant that they
								
								                            agree with the terms of this clause and the applicable provisions of the Terms.</p>

							<p>7.2 The site is not to be accessed from the United States of America and may not be used
								
								                            by any resident of the United States of America. No offer made on the site is intended
								
								                            or authorised to be made inside or to any resident of the United States of America.</p>

							<p>7.3 Overseas Shareholders may be affected by the laws or regulatory requirements of the
								
								                            relevant overseas jurisdiction in relation to investments in a Company.</p>

							<p>
								7.4 It is the responsibility of any Overseas Shareholder wishing to subscribe for
								
								                            Company Shares to satisfy himself as to the full observance of the laws and
								
								                            regulatory requirements of the relevant jurisdiction in connection with said
								
								                            subscription, the holding of shares and the use of the site and Platform, including the
								
								                            obtaining of any governmental, exchange control or other consents which may be
								
								                            required, the compliance with other necessary formalities and the payment of any
								
								                            issue, transfer or other taxes or duties due in any such jurisdiction in respect of the
								
								                            Overseas Shareholders’ Investment into a Company.</p>

							<p>7.5 The Overseas Shareholder agrees to indemnify Yielders (and any person acting on its
								
								                            behalf) against all liabilities, costs, expenses, damages and losses (including but not
								
								                            limited to any direct, indirect or consequential losses, loss of profit, loss of reputation
								
								                            and all interest, penalties and legal costs and all other professional costs and expenses
								
								                            suffered or incurred by arising out of or in connection with any breach of this clause
								
								                            7).</p>


							<p>7.6 We may not accept any Order to subscribe for Company Shares by an Overseas
								
								                            Shareholder unless such Overseas Shareholder confirms in writing that:</p>

							<ul>
								<li>(a) he has observed the laws of all relevant jurisdictions, has obtained requisite
									
									                               governmental or other consents, complied with all requisite formalities and
									
									                               paid any issue, transfer or other taxes or duties due from him, in connection
									
									                               with the investment into a Company in the relevant jurisdiction;</li>

								<li>(b) he has not taken or omitted to take any action which will or may result in us
									
									                               (or any other person acting on our behalf) acting in breach of any legal or
									
									                               regulatory requirements of any jurisdiction in connection with the
									
									                               subscription and holding of Company Shares;</li>

								<li>(c) he shall provide valid and up to date proof of his identity (including but not
									
									                               limited to copies of photographic identification and proof of residential
									
									                               address certified as true copies of the originals by a solicitor, notary or legal
									
									                               professional with equivalent standing in the Overseas Shareholder’s
									
									                               jurisdiction) and such other identification information as we shall require
									
									                               from the Overseas Shareholder as we may determine in our absolute
									
									                               discretion; and</li>

								<li>(d) he shall transfer Investment Funds for the subscription of Company Shares
									
									                               in accordance with the provisions set out on the site or per any direct written
									
									                               communication made by Yielders and evidence the sources of such funds.</li>
							</ul>

							<p>7.7 It is the responsibility of any Overseas Shareholder to meet any taxes, charges,
								
								                            banking fees, currency exchange fees, foreign exchange rate charges or any other
								
								                            costs in making a subscription through the site and we reserve the right to refuse to
								
								                            issue shares to an Overseas Shareholder until the relevant subscription amount is
								
								                            received in full in pounds sterling in the Company’s Holding E-wallet.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>8.INVESTMENT PROCESS</h3>
						<div class="accordion-details">
							<p>8.1 The site and / or Platform will publish a Company Pitch based on which you may
								
								                            acquire Company Shares in a Company.</p>

							<p>8.2 Among other information, the Company Pitch will state or provide access to:</p>

							<ul>
								<li>(a) a Prospectus; and</li>

								<li>(b) a breakdown of the price to be paid and associated fees;</li>

								<li>(c) the price at which each share in the relevant Company may be purchased by
									
									                              a Registered User; and</li>

								<li>(d) a copy of the Terms.</li>
							</ul>

							<p>
								8.3 You may select any Company Pitch that you are interested in from the Platform on
								
								                            the site, but should take independent legal, financial and taxation advice in relation to
								
								                            the Company Pitch, including the terms of the Prospectus to consider the benefits and
								
								                            risks in relation to the same, before doing so.</p>


							<p>8.4 You will be entitled to place an Order to subscribe for Company Shares advertised in
								
								                            a Company Pitch during a period ending on the earlier of:</p>

							<ul>

								<li>
									(a) the Company Pitch reaching the Funding Goal;</li>

								<li>(b) the end of a period of 30 days or other period as specified on the Company
									
									                                Pitch by way of a countdown which shall begin on the date on which the
									
									                                Company Pitch is first advertised on the site and / or Platform); or</li>

								<li>(c) the date upon which the Company Pitch is terminated by Yielders, at its sole
									
									                                discretion, for any reason other than what is stated above.</li>
							</ul>

							<p>8.5 You acknowledge and agree that Yielders may not process an Order if it is placed
								
								                            immediately after the Company Pitch reaches the Funding Goal or the expiry of the
								
								                            Offer Period, and before the site showing said Company Pitch has been updated to
								
								                            confirm the same.</p>

							<p>
								8.6 The process for placing an Order and subscribing for Company Shares pursuant to a
								
								                            Company Pitch during an Offer Period is as follows:</p>
							<ul>
								<li>
									(a) you must indicate on your Order:
									<ul>
										<li>
											(i) that you have read and understood, and confirm acceptance of all Terms;</li>


										<li>
											(ii) the number of Company Shares you intend to purchase and the total   amount of your Investment;</li>

										<li>
											(iii) confirm your payment details in order that Yielders may process
											
											                                        payment of your Investment Funds into the Company holding E-
											
											                                        wallet.</li>
									</ul>

								</li>

								<li>(b) you will then receive notification on the Platform and/or an email
									
									                                acknowledging your Order and confirming receipt of your Investment
									
									                                Funds in the Company’s holding E-wallet.
								</li>

								<li>(c) at the expiry of the Offer Period, you will receive a Confirmation Email.
								</li>
							</ul>


							<p>
								8.7 If a Company Pitch reaches its Funding Goal and you have placed an Order, an
								
								                            Agreement shall subsist between you and the Company to transfer the Investment
								
								                            Funds to the Company. Accordingly, we will release the Investment Funds, on your
								
								                            behalf, from the Company holding E-wallet to your Company E-wallet, stamp duty
								
								                            E-wallet, Yielders’ fee E-wallet and any other applicable E-wallet relevant to the
								
								                            asset and Company, in exchange for you being issued the Company Shares.</p>

							<p>8.8 For the avoidance of doubt, your Order will not be transferred to any other Company
								
								                            Pitch.</p>

							<p>8.9 Once you are a Shareholder of a Company, you, along with the other Shareholders,
								
								                            will have certain rights in respect of the Company and its asset as detailed in the
								
								                            Agreement.</p>


							<p>
								8.10 By placing an Order, you are agreeing that:</p>
							<ul>
								<li>

									(a) you have fully understood and accept that your Investment will be subject to
									
									                                    the provisions of this clause and the Terms;
								</li>
								<li>

									(b) Yielders shall be appointed as the first director and first agent of
									
									                                    management of the asset;
								</li>
								<li>

									(c) in the event that the asset is a property, any existing tenant of the property
									
									                                    may remain in occupation after acquisition;
								</li>
								<li>

									(d) in the event that the asset is a property, any specified renovation work to a
									
									                                    property as detailed in the Company Pitch and Prospectus will be deemed
									
									                                    approved but may at the absolute discretion of Yielders change from time to
									
									                                    time, subject to Yielders acting reasonably when implementing such
									
									                                    change.
								</li>
							</ul>


							<p>
								8.11 Nothing will be deemed to be an acceptance by us of your Offer until we confirm in
								
								                            writing.</p>

							<p>8.12 If you do not accept the Agreement, you will not be permitted to acquire Company
								
								                            Shares via Yielders.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>9.HIGH NET WORTH INDIVIDUALS AND SOPHISTICATED INVESTORS</h3>
						<div class="accordion-details">
							<p>
								9.1 For the purposes of this clause:</p>
							<ul>
								<li>
									(a) Retail Investor means a client who in accordance with COBS 3.4.1R is
									
									                                    neither a professional client or an eligible counterparty, or any person who
									
									                                    is advised by a firm on the merits of opening and busing a stakeholder
									
									                                    product where the advice is given in the course of business carried on by
									
									                                    that firm and it is received by a person not acing in the course of a business
									
									                                    carried on by him.</li>


								<li>
									(b) High Net Worth Individual means a person who meets the requirements set
									
									                                out in article 21 of the Promotion of Collective Investment Schemes Order,
									
									                                in article 48 of the Financial Promotions Order or Financial Conduct
									
									                                Authority COB 4.12.6R, being an individual who has an annual income to
									
									                                the value of £100,000 or more or net assets of £250,000 excluding primary
									
									                                residence, any benefits in the form of pensions or otherwise any rights under
									
									                                certain contracts of insurance.</li>

								<li>(c) Sophisticated Investor means a person who meets the requirements set out
									
									                                in article 23 of the Promotion of Collective Investment Schemes Order, in
									
									                                article 50 of the Financial Promotions Order or in COBS 4.12.7R, being a
									
									                                person assessed by an FCA authorised firm as sufficiently knowledgeable to
									
									                                understand the risks associated with engaging in investment activity or self-
									
									                                certifying where the individual falls within one of the categories set out in
									
									                                the FCA rules.</li>
							</ul>


							<p>
								9.2 If you register onto the site as a High Net Worth Individual and/or Sophisticated
								
								                            Investor you are confirming to us and warranting that you meet the requirements set
								
								                            out at Schedule 5 Part I and/or Part II of The Financial Services and Markets Act
								
								                            2000 (Financial Promotion) Order 2005 and that you have printed, signed and
								
								                            retained a copy of that certificate for your records.</p>

							<p>9.3 A copy of the certificate must be delivered to us prior to any Offers being made by
								
								                            you.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>10.OUR FEES</h3>
						<div class="accordion-details">
							<p>
								10.1 The payments detailed in this clause will be payable to Yielders as the owner of the
								
								                            site and Platform or as director of the Company as the case may be.</p>

							<p>
								10.2 You will be charged an incorporation and administration fee of 2.5% of the total SPV amount.</p>

							<p>
								10.3 We (or a member of our group) will charge each Company a management fee of 10%
								
								                            of the monthly gross rental income earned by it.</p>

							<p>
								10.4 With the exception of Top Yielders, each time a Shareholder re-lists shares in a
								
								                            Company for sale on the Platform, a re-listing fee will be charged to the selling
								
								                            Shareholder.</p>

							<p>
								10.5 We will charge the Company a fee of 15% (plus VAT if applicable) of the Capital
								
								                            Growth, which will be determined by an expert listed on Yielders’ panel of experts
								
								                            and will be the difference between the value of the initial share capital of the
								
								                            Company or the value of the asset owned by the Company at the time of its
								
								                            acquisition and the value determined by said expert, taking into account all
								
								                            outstanding applications / matters applicable to the asset or shares or pending at the
								
								                            time of the valuation and which may increase the value of said asset or shares over a
								
								                            period of thirty-six (36) months following the disposal of the asset owned by the
								
								                            Company, sale of the Company or removal of Yielders as director of said Company.</p>

							<p>
								10.6 You acknowledge that ancillary charges, costs or fees may be payable to third parties
								
								                            in connection with the Company and you acknowledge that such charges or fees are
								
								                            not associated with these Terms. You warrant to us that you will pay any such fees or
								
								                            charges on demand and will indemnify and hold Yielders harmless against any loss,
								
								                            liability, cost or expense it may occur resulting from the same. You irrevocably
								
								                            authorise and instruct Yielders to deduct (as settlement) any sums payable by you to
								
								                            us in accordance with these Terms from any amounts to which you are entitled to
								
								                            receive out of any distribution (including but not limited to any dividends) by the
								
								                            Company or any sale proceeds generated by the sale of your Company Shares.</p>

							<p>
								10.7 Yielders reserves the right to impose any further fee or charge for its services to a
								
								                            Shareholder in the future, and will do so by providing one months’ advance written
								
								
								
								                            notice by email or on the Platform of the proposed charges or fees and any variation
								
								                            of the same.</p>

							<p>
								10.8 Payment of all fees will be taken from the payment details you provide when you
								
								                            complete the registration form when registering on the site as a Registered User.
								
								                            Credit card payments are not accepted.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>11.FINANCIAL RULES AND CLIENT CATEGORISATION</h3>
						<div class="accordion-details">
							<p>
								11.1 We are required, under the Financial Conduct Authority’s (“FCA”) rules to allocate
								
								                            and notify you of your client classification (unless we agree otherwise in writing).
								
								                            Accordingly, all Shareholders will be classified as retail clients (as defined by the
								
								                            FCA in its rules and handbook) unless they expressly request to be treated as a
								
								                            professional. By using the site and Platform, you agree to provide to us any
								
								                            information that we require in order that we may comply with the FCA’s client
								
								                            categorisation rules.</p>

							<p>
								11.2 In accordance with clause 11.1, all Shareholders have the benefit of the standard
								
								                            complaints procedures afforded to clients of FCA authorised firms. Shareholders may
								
								                            refer any complaint to the Financial Ombudsman Service. However, Shareholders
								
								                            may not make a claim to the Financial Services Compensation Scheme in the event
								
								                            that a Company fails.</p>

							<p>
								11.3 You acknowledge that Yielders will not supply confirmations of any orders, and or
								
								                            resulting transactions other than what is stated in the Confirmation Email sent by
								
								                            Yielders in accordance with the FCA Handbook, Conduct of Business Rules, Rule
								
								                            16.1.1., which you agree shall be a sufficient and adequate reporting of the service of
								
								                            arranging the reception and transmission of orders and the arranging of resulting
								
								                            transactions.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>12.RISK FACTORS</h3>
						<div class="accordion-details">
							<p>
								12.1 You should be aware that investing through the site will result in your Investment in a
								
								                            Company incorporated for the sole purpose of holding legal title to an asset. You will
								
								                            receive Company Shares in exchange for your Investment which will be issued
								
								                            subject to the articles of association of the Company which will be available on the
								
								                            Platform.</p>

							<p>12.2 Investing in start-up limited companies and in any assets carries certain risks, which
								
								                            can include illiquidity, a potential lack of dividends, loss of Investment and dilution,
								
								                            and it is your responsibility to satisfy yourself that this risk is acceptable to you. You
								
								                            acknowledge that making an Investment should be done only as part of a diversified
								
								                            portfolio. This means that you should invest in relatively small amounts in multiple
								
								                            Company’s rather than one or two. Further, you should only invest a small proportion
								
								                            of your investable capital in start-up business with the majority of your investable
								
								
								
								                            capital invested in safer, more liquid assets. Please note that this does not constitute
								
								                            investment advice.</p>

							<p>
								12.3 Yielders and the site offers no guarantees or assurances as to any income, capital
								
								                            growth or other financial gain through your investment in a Company and asset prices
								
								                            can go down as well as up.</p>

							<p>
								12.4 You may sell your Company Shares at any time after the expiry of the initial term
								
								                            specified in the Company Pitch, Prospectus and Agreement, provided such sale is
								
								                            completed through Yielders. In respect of such sale, Yielders will charge you a relisting fee
								
								                            . We do not offer any assurance or guarantee that your Company Shares will be
								
								                            sold and such sale will be subject to you or Yielders finding a willing buyer for the
								
								                            shares at the relevant price. We do not underwrite or guarantee the price or liquidity
								
								                            of any onward sale of shares, however, confirm that we will use all reasonable
								
								                            endeavours to sell the Company Shares on your behalf.</p>

							<p>12.5 We will provide you with the Company’s incorporation documentation and a copy of
								
								                            the relevant Prospectus. We strongly advise you carry out your own due diligence on
								
								                            the Company Pitch offered through the site, including (but not limited to) the
								
								                            proposed Prospectus and Company incorporation documents in order to ascertain the
								
								                            risks involved.</p>

							<p>
								12.6 Asset prices can go up and down and can vary from asset to asset. These factors can
								
								                            in turn influence asset prices and can make them more or less susceptible to negative
								
								                            growth.</p>

							<p>
								12.7 By investing in an asset through us, you acknowledge that you may not get your
								
								                            money back if the asset price falls. As such, you acknowledge that by virtue of these
								
								                            terms we are warning you that you should not invest any more money that you are
								
								                            able to afford to lose without altering your standard of living.</p>

							<p>
								12.8 Any investment you make will be illiquid as further sale of shares is not guaranteed.
								
								                            It will therefore be dependent on the sale of the asset at the end of the term of your
								
								                            investment.</p>

							<p>
								12.9 If an asset owned by the Company you hold shares in is a property that receives rent,
								
								                            this will be paid to you and the other shareholders of the Company in the form of
								
								                            dividends, net of any fees, costs and expenses payable. In the event that the property
								
								                            does not produce rent or the amount of rent received is less than the amount of fees,
								
								                            expenses and costs payable, no dividends will be paid. As such, there is a risk that
								
								                            you will not see a return on your investment. Past performance should not be used as
								
								                            a reliability indicator as future potential is unknown and is independent of past
								
								                            performance.</p>

							<p>
								12.10 Information provided about the asset and Company as well as projections of future
								
								                            performance are based on the internal calculations and opinions of Yielders based on
								
								                            information provided to us. They are subject to change at any time and influenced by
								
								
								
								                            third party factors outside of our control. Forecasts are not reliable indicators of
								
								                            future results and should not be relied upon.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>13.INVESTMENT MONEY</h3>
						<div class="accordion-details">
							<p>
								13.1 We accept payment by debit card and bank transfer in British pounds. Credit card
								
								                            payments are not accepted. All conversion or transfer fees in respect of currency
								
								                            exchanges shall be borne by you.</p>

							<p>
								13.2 Investment Funds in respect of a Company will be held in a segregated E-Wallet with
								
								                            Mango Pay (www.mangopay.com). However, please note that your funds are not
								
								                            protected by the Financial Compensation Scheme.</p>

							<p>
								13.3 Upon the completion of an asset acquisition becoming imminent, any funds held in
								
								                            the Company Holding E-wallet will be transferred to the relevant solicitors acting on
								
								                            behalf of the asset acquisition to complete the purchase.</p>

							<p>13.4 Any remaining funds will be transferred to the Company E-wallet and used for costs
								
								                            and expenses associated with the asset or the Company.</p>

							<p>
								13.5 You acknowledge that no interest will be paid on any sums in any E-wallet. To avoid
								
								                            bank charges being passed on to the Company, the Company may from time to time
								
								                            receive interest payments in respect of the E-wallet, which shall be donated to a
								
								                            charity of Yielders’ choosing, and you agree and undertake that Yielders shall be
								
								                            under no obligation to pass on such interest payments to you.</p>

							<p>
								13.6 No interest shall be payable on any Investment Funds or other sums returned to you
								
								                            (either by cancellation or otherwise).</p>

							<p>13.7 All payments made to you from time to time will be made to your Company E-wallet
								
								                            and such sums shall be held in your Company E-wallet on your behalf until you either
								
								                            (but subject to any restrictions in the articles of association of the Company):</p>
							<ul>
								<li>
									(a) re-invest the monies; or
								</li>
								<li>
									(b) request that such monies be withdrawn and paid to you via electronic bank
									
									                                    transfer in accordance with the Terms. Such payment to you may incur
									
									                                    additional fees for same day transfers (if requested by you).
								</li>
							</ul>


						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>14.YIELDERS’ INVESTMENT</h3>
						<div class="accordion-details">
							<p>
								14.1 You acknowledge that our affiliates, and/or the proprietors, officers or employees of
								
								                            Yielders and/or such affiliates may consider expressing an interest or subscribing for
								
								                            Company Shares. If you become aware of this, you agree not to rely upon the same in
								
								                            making a decision whether to invest in a Company, and you confirm that any decision
								
								                            to invest in a Company is not based upon any representation, information, action,
								
								                            omission or otherwise of Yielders, its subsidiaries or affiliates or the proprietors or
								
								                            employees of Yielders, its subsidiaries or its affiliates.</p>


							<p>
								14.2 You must ensure that arrangements are put in place for your next of kin to be
								
								                            informed of any Order, Investment and the Platform’s investment process, and that
								
								                            instructions are provided to enable Yielders to manage your Investment on the
								
								                            occurrence of your death, insolvency or incapacity. Yielders accepts no responsibility
								
								                            or liability through your failure of not having in place such an arrangement.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>15.COMPANY ARTICLES AND THE AGREEMENT</h3>
						<div class="accordion-details">
							<p>15.1 You acknowledge that, as a consequence of becoming a Shareholder of a Company,
								
								                            you shall be subject to the provisions of the Company’s articles of association and the
								
								                            Agreement which will include certain restrictions on the Company Shares issued and
								
								                            certain rights and obligations will attach to such Company Shares and be binding on
								
								                            you.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>16.CANCELLATION</h3>
						<div class="accordion-details">
							<p>16.1 Pursuant to COBS 15 Annex 1 rule 1.10, your Investment falls under the exemption
								
								                            to COBS 15. Therefore, the Consumer Protection (Distance Selling) Regulations
								
								                            2000 and the Consumer Contracts (Information, Cancellation and Additional
								
								                            Charges) Regulations 2013 do not apply.</p>

							<p>
								16.2 You acknowledge and confirm that as a result, the statutory 14 working day
								
								                            cancellation rights contained within the Consumer Contracts (Information,
								
								                            Cancellation and Additional Charges) Regulations 2013 will be unavailable to you in
								
								                            respect of any Order or Investment via Yielders.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>17.WARRANTIES AND UNDERTAKING</h3>
						<div class="accordion-details">
							<p>
								17.1 You warrant to us that all information you provide to us from the moment you
								
								                            commence your application to become a Registered User is true, accurate and
								
								                            complete in all respects and that you will update us if any of the information you
								
								                            provide to us changes.</p>

							<p>17.2 In respect of any Order or Investment, you agree and warrant that:</p>
							<ul>
								<li>
									(a) we are making no warranty or representation as to the ability of the
									
									                                    Company to pay and their credit risk and we are not underwriting any debt
									
									                                    or credit risk of the Company and will not be liable in any way;
								</li>


								<li>(b) you are investing entirely at your own risk, and by investing confirm, you
									
									                            have sought independent advice and conduct your own due diligence;
								</li>

								<li>(c) you agree to keep confidential and not to use, disclose or communicate any
									
									                            and all content of the site (except in the course of obtaining professional
									
									                            advice in respect of the same or with our written consent or as required by
									
									                            law). This restriction will continue to apply after any termination of
									
									                            membership to the site;
								</li>


								<li>(d) calculations or financial indications provided on the site are for guidance
									
									                            purposes only and are not guaranteed;
								</li>

								<li>(e) the information on the site does not constitute advice, recommendation or an
									
									                            endorsement of investment requests or investment vehicles. The information
									
									                            is not intended to be relied upon as a sole basis for deciding whether or not
									
									                            to invest in a Company;
								</li>

								<li>(f) we make no representation or warranty as to the accuracy of any data
									
									                            displayed on a Company Pitch, the Platform, or site, nor whether it is up to
									
									                            date or error free; and
								</li>

								<li>(g) we do not guarantee that there will be sufficient bids to fully fund an
									
									                            investment in a Company or that there will be sufficient investments for you
									
									                            to invest in.
								</li>
							</ul>

							<p>
								17.3 You further warrant to us that:</p>
							<ul>

								<li>(a) neither you nor any person for whom you may be vicariously liable, or any
									
									                            person or entity with any kind of interest in you, is engaged or involved in
									
									                            any of the following matters:</li>

								<ul>
									<li>
										(i) any litigation, administrative, arbitration or other proceedings</li>

									<li>(ii) any dispute with or, investigation, inquiry or enforcement</li>
								</ul>

								<li>(b) no Proceedings have been threatened or are pending by or against you or
									
									                            any person for whose acts you may be vicariously liable, and there are no
									
									                            circumstances likely to give rise to any such Proceedings;</li>

								<li>(c) neither you nor any person for whom you may be vicariously liable is
									
									                            affected by any existing or pending judgment, order, decision or ruling of
									
									                            any court, tribunal or governmental, regulatory or similar body, nor has it
									
									                            given any undertaking in connection with any Proceedings;</li>

								<li>(d) you will inform us immediately if the warranties above cease to be true;</li>

								<li>(e) you will keep the Company and us as appropriate indemnified against any
									
									                            losses, damages, costs, financial or otherwise that may be incurred as a
									
									                            result of your involvement in any of the matters noted in this clause 16 or
									
									                            act in manner that is negligent, careless or fraudulent and which gives rise to
									
									                            such matter and for this purposes will have adequate insurance cover in
									
									                            place for the purposes of the same.</li>
							</ul>

							<p>
								17.4 If you or any person for whom you may be vicariously liable is affected by any
								
								                            Proceedings, or the threat of them, then Yielders will take the appropriate steps to
								
								                            facilitate your exit from any and all Companies you are a Shareholder of, in
								
								                            accordance with the provisions of articles of association of those Companies.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>18.TAXATION</h3>
						<div class="accordion-details">
							<p>
								18.1 You are responsible for any taxation payable in respect of any payments you receive
								
								                            from us, the site, or the Company you invest in and you warrant and will indemnify
								
								                            us against any taxes, charges or claims made against us in respect of the non-payment
								
								                            of your individual tax and other social security liabilities.</p>

							<p>
								18.2 We do not provide tax advice and you should seek independent tax advice before
								
								                            investing if you are unsure of your position.</p>

							<p>
								18.3 It is your own responsibility to ensure your tax returns are completed accurately and
								
								                            filed within the required deadlines and tax is paid correctly. If you are unsure of how
								
								                            to do this, you must seek independent financial advice before you invest through us.
								
								                            Each Company you invest in will be subject to payment of corporation tax. Returns
								
								                            you receive will be paid to you net of any corporation and other taxes applicable.
								
								                            Please also take independent tax advice in respect of any potential capital gains tax.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>19.TERMINATING YOUR MEMBERSHIP</h3>
						<div class="accordion-details">
							<p>
								19.1 Yielders may terminate these Terms at any time in the event that:</p>
							<ul>
								<li>

									(a) you breach any of the Terms;
								</li>

								<li>(b) You have been convicted of any criminal offence or otherwise are involved
									
									                                in any improper or immoral activities;
								</li>

								<li>(c) You are or become a politically exposed person;
								</li>

								<li>(d) You fail the checks required to be completed on you pursuant to the AML
									
									                                Laws.
								</li>
							</ul>


							<p>
								19.2 In the event that these Terms are terminated pursuant to this clause, all costs incurred
								
								                            by Yielders must be indemnified by the breaching party.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>20.WRITTEN COMMUNICATIONS</h3>
						<div class="accordion-details">
							<p>
								20.1 You agree and confirm to us that you accept and authorise us to serve any written
								
								                            communication on you electronically on the Platform or using the email address
								
								                            associated with your Login Details.</p>

							<p>
								20.2 You agree to these electronic means of communication in respect of the site and any
								
								                            Company you have invested in and you acknowledge that all contracts, notices,
								
								                            information, documents and other communications that we provide to you
								
								                            electronically comply with any legal requirement that such communications be in
								
								                            writing.</p>

							<p>
								20.3 The provisions of this clause do not affect your statutory rights.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>21.VARIATION OF THESE TERMS</h3>
						<div class="accordion-details">
							<p>
								21.1 We have the right to revise and amend these Terms from time to time.</p>

							<p>
								21.2 You will be subject to the policies and Terms in force at the time you apply to
								
								                            become a Registered User of the site as amended from time to time by Yielders or
								
								                            any change to those policies or these Terms is required by law or (in which case it
								
								                            will apply to Orders previously placed by you. We will notify you of the change to
								
								                            those policies or these Terms before we confirm your membership as a Registered
								
								                            User of the site in which case we have the right to assume that you have accepted the
								
								                            change to the Terms.</p>

							<p>
								21.3 It is your duty to ensure you keep up to date with changes to the Terms which we will
								
								                            keep updated on the site.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>22.INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE</h3>
						<div class="accordion-details">
							<p>
								22.1 We process information about you in accordance with our privacy policy (as
								
								                            displayed on the site). By using the site, you consent to such processing and you
								
								                            warrant that all data provided by you is accurate.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>23.NOTICES</h3>
						<div class="accordion-details">
							<p>
								23.1 All notices served on us must be in writing and served on us at our address registered
								
								                            with Companies House from time to time. We do not accept any notice electronically
								
								                            or by fax.</p>

							<p>
								23.2 Notices will be deemed to be received:</p>

							(a) two clear working days after posting by recorded, special or registered post
							
							                            by Royal Mail;
							
							                            (b) when received by a statutory director of Yielders if posted by any other
							
							                            means.
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>24.WAIVER</h3>
						<div class="accordion-details">
							<p>24.1 A waiver of any right or remedy under the Terms or by law is only effective if it is
								
								                            given in writing and is signed by the person waiving such right or remedy. Any such
								
								                            waiver shall apply only to the circumstances for which it is given and shall not be
								
								                            deemed a waiver of any subsequent breach or default.</p>

							<p>
								24.2 A failure or delay by any person to exercise any right or remedy provided under the
								
								                            Terms or by law shall not constitute a waiver of that or any other right or remedy, nor
								
								                            shall it prevent or restrict any further exercise of that or any other right or remedy.</p>

							<p>
								24.3 No single or partial exercise of any right or remedy provided under the Terms or by
								
								                            law shall prevent or restrict the further exercise of that or any other right or remedy.</p>

							<p>
								24.4 A party that waives a right or remedy provided under the Terms or by law in relation
								
								                            to one party, or takes or fails to take any action against that party, does not affect its
								
								                            rights in relation to any other party.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>25.NO PARTNERSHIP OR AGENCY</h3>
						<div class="accordion-details">
							<p>
								25.1 Nothing in the Terms is intended to, or shall be deemed to, establish any partnership
								
								                            or joint venture between any of the parties, constitute any party the agent of another
								
								                            party, nor authorise any party to make or enter into any commitments for or on behalf
								
								                            of any other party.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>26.ASSIGNMENT</h3>
						<div class="accordion-details">
							<p>
								26.1 Your membership to Yielders is non-transferable, and the provisions of the Terms
								
								                            shall not be assigned, transferred, mortgaged, charged or otherwise encumbranced
								
								                            without the written consent of Yielders.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>27.SEVERABILITY</h3>
						<div class="accordion-details">
							<p>
								If any provision or part-provision of the Terms or any provisions of any other
								
								                            document featured on the site become invalid, illegal or unenforceable, it shall be
								
								                            deemed modified to the minimum extent necessary to make it valid, legal and
								
								                            enforceable. If such modification is not possible, the relevant provision or part-
								
								                            provision shall be deemed deleted. Any modification to or deletion of a provision or
								
								                            part-provision under this clause shall not affect the validity and enforceability of the
								
								                            rest of the Terms.</p>
						</div>
					</div>
				</div>

				<div class="accordion-content">
					<div class="head">
						<h3>28.LANGUAGE</h3>
						<div class="accordion-details">
							<p>
								If the Terms are translated into any language other than English, the English language
								
								                            version shall prevail.</p>
						</div>
					</div>
				</div>


				<div class="accordion-content">
					<div class="head">
						<h3>29.GOVERNING LAW AND JURISDICTION</h3>
						<div class="accordion-details">
							<p>
								29.1 The Terms and any dispute or claim arising out of or in conssnection with them or
								
								                            their subject matter or formation (including non-contractual disputes or claims) shall
								
								                            be governed by and construed in accordance with the law of England and Wales.</p>

							<p>
								29.2 Each party irrevocably agrees that the courts of England and Wales shall have
								
								                            exclusive jurisdiction to settle any dispute or claim arising out of or in connection
								
								                            with the Terms or their subject matter or formation (including non-contractual
								
								                            disputes or claims).</p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	{# {{ include('@AppBundle/Common/interested-block.html.twig') }} #}

	{# {{ include('@AppBundle/Common/footer-contact.html.twig') }}
 #}

{% endblock %}

{% block pagejs %}
	<script src="{{ asset('bundles/app/js/customaccordion.js') }}"></script>
{% endblock %}
