{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Login{% endblock title %}
{% block html_title %}Login{% endblock html_title %}

{% block pageclass %} login-page{% endblock pageclass %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<main role="main" class="container mb-5">
    <nav class="row justify-content-between mt-3">
        <div class="col">
            <a href="{{ consumer_app_url }}">
                <img class="logo-nav mb-2" src="{{ asset('build/images/logo_wordmark_contained.svg') }}" height="40" loading="lazy" alt="yielders logo">
            </a>
        </div>
        <div class="col-auto">
            <a href="{{ consumer_app_url }}/onboarding"class="btn btn-light rounded-pill px-3 py-2">Sign-up</a>
        </div>
    </nav>

    <section class="row justify-content-center mt-2 mt-sm-5 py-5">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <h3>Log in</h3>
            {% if error %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                <div class="form-row">
                    <div class="form-group col-12 has-feedback">
                        <label for="_username">Email Address</label>
                        <input class="form-control" type="email" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}">
                    </div>
                    <div class="form-group col-12 has-feedback">
                        <label for="_password">Password</label>
                        <div class="input-group">
                            <input class="form-control" id="_password" type="password" name="_password" placeholder="{{ 'security.login.password'|trans }}">
                            <div class="input-group-append">
                                <span class="btn btn-link" type="button" id="toggle-pw-visibility"><i class="fas fa-eye-slash fa-fw me-2"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <!-- <input id="form_sign_in" type="submit" class="btn btn-primary rounded-pill btn-lg btn-block" value="Login"> -->
                        <button type="submit" class="btn btn-primary rounded-pill btn-lg btn-block">Login</button>
                    </div>
                    <div class="col-sm-6 d-flex flex-column justify-content-center mt-3 mt-sm-0">
                        <a href="{{ consumer_app_url }}/forgot-password"
                            class="d-block btn btn-link text-sm-end py-2 py-sm-1">Forgot password?</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock fos_user_content %}