<article class="border rounded-3 p-3 {% if current ?? false %}current{% endif %}">
    <div class="d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center gap-3">
            <div class="tw-font-semibold" data-field-name="asset-name">#{{ asset.id }} // {{ asset.name }}</div>
        </div>
        {{ include('admin/components/_kv_table.html.twig', {
            keyDefaultStyle: "ps-0",
            valueDefaultStyle: "tw-font-mono pe-0",
            keyColumnWidth: 60,
            kv: {
                "SPV": asset.companyNumber|default('N/A'),
                "Status": asset.currentStatus.name,
                "First Party Shares Remaining": sellOrders|default([])|reduce((carry, i) => carry + i.sharesAvailable, 0),
            }
        }) }}
        <div class="d-flex flex-wrap justify-content-between align-items-center gap-3 tw-text-sm mt-auto">
            <div data-field-name="featured">
                {{ include('admin/components/_indicator_with_text.html.twig', {
                    value: asset.featured > 0 ? 'Featured (' ~ asset.featured ~ ')' : 'Not Featured',
                    color: asset.featured > 0 ? 'blue' : 'gray',
                }) }}
            </div>
            <div data-field-name="buying">
                {{ include('admin/components/_indicator_with_text.html.twig', {
                    color: asset.buyRestricted ? 'red' : 'green',
                    value: asset.buyRestricted ? 'Buying Closed' : 'Buying Open'
                }) }}
            </div>
            <div data-field-name="selling">
                {{ include('admin/components/_indicator_with_text.html.twig', {
                    color: asset.sellRestricted ? 'red' : 'green',
                    value: asset.sellRestricted ? 'Selling Closed' : 'Selling Open'
                }) }}
            </div>
            <div data-field-name="fees">
                {{ include('admin/components/_indicator_with_text.html.twig', {
                    color: asset.fees|length > 0 ? 'yellow' : 'blue',
                    value: asset.fees|length > 0 ? 'Custom Fees' : 'Standard Fees'
                }) }}
            </div>
            {# {% if (sellOrders ?? null) is not null %}
                {% set sharesAvailable = sellOrders|reduce((carry, i) => carry + i.sharesAvailable, 0) %}
                <div data-field-name="selling">
                    {{ include('admin/components/_indicator_with_text.html.twig', {
                        color: sharesAvailable > 0 ? 'red' : 'green',
                        value: sharesAvailable > 0 ? 'First Party Incomplete' : 'First Party Complete'
                    }) }}
                </div>
            {% endif %} #}
            
        </div>
    </div>
</article>