{% extends 'admin/layouts/col_1.html.twig' %}

{% set backToRoute = 'admin_monthend_income_disaggregation_manage' %}
{% set backToRouteParams = { id: transferOrder.id } %}
{% set areaHeading = 'Monthend - Income Disaggregation' %}
{% set mainHeading = 'Add Transfers' %}

{# {% form_theme form with ['bootstrap_5_layout.html.twig'] only %} #}

{% block page_content %}

    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": "assets",
        "sectionTitle": "Assets",
        "linkActions": []
    } %}
        {% block sectionContent %}
        <div class="row g-3">
            {{ include('admin/components/stat.html.twig', {
                key: 'Number of Assets',
                value: matchingAssets|length,
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Number of Existing Transfers',
                value: transferOrder.transfers|length,
            }) }}
        </div>
        <table class="table table-striped datatable" id="assets-list">
            <thead>
                <tr>
                    <th>Asset</th>
                    <th>Number of Existing Transfers</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in matchingAssets|default([]) %}
                    <tr data-object-id="{{ asset.id }}">
                        <td data-field="asset">
                            <a href="{{ path('admin_product_dashboard', { 
                                    id: asset.id
                                    }) }}">#{{ asset.id }} // {{ asset.name }} ({{ asset.companyNumber }})
                            </a>
                        </td>
                        <td>{{ transferOrder.transfers|filter(t => t.asset is not null and t.asset.id == asset.id)|length }}</td>
                        <td>
                            {{ include('admin/components/button_link.html.twig', {
                                linkProps: {
                                    "text": "Add Transfer",
                                    "route": "admin_monthend_income_disaggregation_add_transfer",
                                    "params": { 
                                        transferOrder: transferOrder.id,
                                        asset: asset.id
                                    },
                                    "style": "btn-outline-dark text-nowrap",
                                },
                            }) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    {% endembed %}

{% endblock page_content %}