{% extends 'admin/layouts/monthend.html.twig' %}

{% set areaHeading = 'Monthend' %}
{% set mainHeading = 'Settlements' %}

{% block page_content %}

    {% include 'admin/components/_horizontal_nav_btn_group.html.twig' with {
        'autodetectActive': true,
        'links': {
            navId: 'settlement-order-filter',
            navLabel: 'settlement-filter-options',
            linkDefinitions: [
                {
                    route: 'admin_monthend_overview_settlements',
                    params: {},
                    text: 'Pending Settlements',
                },
                {
                    route: 'admin_monthend_overview_settlements_list',
                    params: {},
                    text: 'All Settlements',
                },
            ]
	    }
    } only %}

    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": "transfer-orders",
        "sectionTitle": "All Settlement Orders",
        "linkActions": [
            {
				"text": "Create Settlement",
				"route": "admin_monthend_settlement_create",
				"params": {},
				"style": "btn-success",
				"roleRequired": "ROLE_OPERATIONS",
			},
        ]
    } %}
        {% block sectionContent %}
        {{ include('admin/components/pagerfanta_meta_slim.html.twig', {
            list: objects
        }) }}
        <div class="table-responsive">
            <table class="table" id="transfer-order-list">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Related Monthend</th>
                        <th>Asset</th>
                        <th class="text-end">Amount (£)</th>
                        <th class="text-end">Transfers</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transferOrder in objects|default([]) %}
                        {% set totalValue = transferOrder.transfers|reduce((carry, v) => carry + v.amount) %}
                        <tr>
                            <td>
                                <a class="btn btn-outline-primary"
                                    href="{{ path('admin_monthend_settlement_manage', { id: transferOrder.id }) }}">
                                    {%- if is_granted('ROLE_OPERATIONS') %}Manage{% else %}View
                                    {% endif -%}
                                </a>
                            </td>
                            <td>{{ transferOrder.id }}</td>
                            <td>{{ transferOrder.scheduledFor|date('Y-m-d', false) }}</td>
                            <td>{% if transferOrder.asset %}#{{ transferOrder.asset.id }} // {{ transferOrder.asset.name }} ({{ transferOrder.asset.companyNumber }}){% else %}N/A{% endif %}</td>
                            <td class="text-end tw-tabular-nums">{{ totalValue|number_format(2, '.', ',') }}</td>
                            <td class="text-end tw-tabular-nums">{{ transferOrder.transfers|length }}</td>
                            <td>{{ transferOrder.status|capitalize|replace({'_':'-'}) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    {% endembed %}

{% endblock page_content %}