{% extends 'admin/layouts/col_1.html.twig' %}

{% set backToRoute = 'admin_monthend_asset_dashboard' %}
{% set backToRouteParams = {id: paymentOrder.asset.id} %}
{% set areaHeading = 'Monthend - ' ~ paymentOrder.paymentType %}
{% set mainHeading = paymentOrder.asset.name %}

{% set sharesInCirculation = currentShareholders|reduce((carry, v) => carry + v.shares) %}
{% set paymentsList = paymentOrder.payments %}
{% set paymentsCompletedList = paymentOrder.payments|filter(p => p.status == constant('App\\Entity\\PaymentRequest::STATE_PAID')) %}
{% set originalTotal = paymentsList|reduce((carry, v) => carry + v.amount) %}
{% set completedTotal = paymentsCompletedList|reduce((carry, v) => carry + v.amount) %}

{% set originalShares = paymentsList|reduce((carry, v) => carry + v.shareholding) %}
{% set divestmentPrice = originalShares > 1 ? (originalTotal / originalShares) : 0 %}

{% set capitalDifference = 0 %}
{% set percentCapitalDifference = 0 %}
{% set sharePriceDifference = 0 %}

{% if paymentOrder.payments|length > 0 %}
{% set capitalDifference = originalTotal - (originalShares * paymentOrder.asset.pricePerShare) %}
{% set percentCapitalDifference = originalShares > 1 ? (100 * capitalDifference / (originalShares * paymentOrder.asset.pricePerShare)) : 0 %}
{% set sharePriceDifference = divestmentPrice - paymentOrder.asset.pricePerShare %}
{% endif %}

{% block page_content %}

    {{ include('admin/pages/monthend/order_actions.html.twig', {
        order: paymentOrder,
        originalTotal: originalTotal
    }) }}

    {{ include('admin/pages/monthend/_wallet_balance_warning.html.twig', {
        walletName: paymentOrder.debitWallet|default('main')
    }) }}

    {{ include('admin/components/monthend/_empty_payment_warning.html.twig') }}

    {% if sharesInCirculation != paymentOrder.asset.amountOfShares %}

        {% set shareDifference = sharesInCirculation - paymentOrder.asset.amountOfShares %}

        {% embed 'admin/components/_bordered_section.html.twig' with {
            "sectionId": "shares-number-warning",
            "sectionTitle": "Shares in Circulation Mismatch",
            "sectionStyle": "border rounded-3 p-4 border-warning",
        } %}
            {% block sectionContent %}

            {% embed 'admin/components/_alert.html.twig' with {
                variant: 'warning',
            } %}
                {% block message %}
                    <p class="">The number of shares in circulation does not match the number of shares issued for the asset. This could be caused by any number of reasons, including among others:</p>
                    <ul class="mb-0">
                        <li>Some prefunders have not been repaid, so there are more shares in circulation than originally issued</li>
                        <li>The asset has not been fully sold yet, so there are fewer shares in circulation than expected</li>
                        <li>The asset has already been partially divested or in the process of being divested</li>
                    </ul>
                {% endblock message %}
            {% endembed %}

            <div class="row g-3">
                {{ include('admin/components/stat.html.twig', {
                    key: 'Shares Issued',
                    value: paymentOrder.asset.amountOfShares|number_format(0, '', ','),
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Active Shares in Circulation',
                    value: sharesInCirculation|number_format(0, '', ','),
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Difference',
                    value: shareDifference|abs|number_format(0, '', ','),
                }) }}
            </div>
            {% endblock %}
        {% endembed %}

    {% endif %}
    
    <div class="row g-3">

        <div class="col-lg-6">
            {% embed 'admin/components/_bordered_section.html.twig' with {
                "sectionId": "about-payment",
                "sectionTitle": "About Payment Order",
                "linkActions": [
                    {
                        "text": "Edit Order",
                        "route": "admin_payment_order_date",
                        "params": {
                            id: paymentOrder.id,
                            redirectRoute: 'admin_monthend_divestment_manage',
                        },
                        "style": "btn-outline-secondary",
                        "roleRequired": "ROLE_OPERATIONS",
                    },
                    {
                        "text": "Edit Description",
                        "route": "admin_payment_order_description",
                        "params": {
                            id: paymentOrder.id,
                            redirectRoute: 'admin_monthend_divestment_manage',
                        },
                        "style": "btn-outline-secondary",
                        "roleRequired": "ROLE_OPERATIONS",
                    },
                ]
            } %}
                {% block sectionContent %}
                <div class="row g-3">
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Order Id',
                        value: paymentOrder.id,
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Scheduled Monthend',
                        value: paymentOrder.scheduledFor|date('Y-m-d'),
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Covering Period Between',
                        value: paymentOrder.scheduledFor|date_modify('-1 month')|date('01 F Y') 
                            ~ ' - ' 
                            ~ paymentOrder.scheduledFor|date_modify('-1 month')|date('t F Y'),
                        className: 'col-12',
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Paying from Wallet',
                        value: paymentOrder.debitWallet|default('main')|capitalize 
                            ~ ' (' 
                            ~ (paymentOrder.debitWallet == 'distribution' ? paymentOrder.asset.distributionWalletId : paymentOrder.asset.mainWalletId)
                            ~ ')',
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Description',
                        value: paymentOrder.description|default('-'),
                        className: 'col-12',
                        valueClassName: 'bg-light rounded-2 p-3'
                    }) }}
                </div>
                {% endblock %}
            {% endembed %}
        </div>
        
        <div class="col-lg-6">
            {% embed 'admin/components/_bordered_section.html.twig' with {
                "sectionId": "about-asset",
                "sectionTitle": "About Asset",
                "linkActions": [
                    {
                        "text": "View Asset Product",
                        "route": "admin_product_dashboard",
                        "params": {id: paymentOrder.asset.id},
                        "style": "btn-outline-dark",
                    },
                    {
                        "text": "View Wallet Balances",
                        "route": "admin_asset_wallets_manage",
                        "params": {asset: paymentOrder.asset.id},
                        "style": "btn-outline-dark",

                    },
                ]
            } %}
                {% block sectionContent %}
                <div class="row g-3">
                    {{ include('admin/components/stat.html.twig', {
                        key: 'SPV Company Number',
                        value: paymentOrder.asset.companyNumber,
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Asset Valuation',
                        value: '£' ~ paymentOrder.asset.fundingGoal|number_format(2, '.', ','),
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Share Price',
                        value: '£' ~ paymentOrder.asset.pricePerShare|number_format(2, '.', ','),
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Shares Issued',
                        value: paymentOrder.asset.amountOfShares|number_format(0, '', ','),
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Current Shareholders',
                        value: currentShareholders|length,
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Active Shares in Circulation',
                        value: sharesInCirculation|number_format(0, '', ','),
                        className: 'col-md-6'
                    }) }}
                </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-lg-6">
            {% embed 'admin/components/_bordered_section.html.twig' with {
                "sectionId": "divestment-summary",
                "sectionTitle": "Divestment Summary",
                "linkActions": [
                    {
                        "text": "View Buy Back Order",
                        "route": "admin_trade_order_view",
                        "params": {id: paymentOrder.tradeOrder ? paymentOrder.tradeOrder.id : '1'},
                        "style": "btn-outline-dark",
                        "newTab": true,
                        "render": paymentOrder.tradeOrder is not null
                    },
                ]
            } %}
                {% block sectionContent %}                        
                <div class="row g-3">
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Shareholders Being Paid',
                        value: paymentOrder.payments|length ~ '/' ~ currentShareholders|length,
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Payment Type',
                        value: paymentOrder.paymentType,
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Shares Being Liquidated',
                        value: originalShares|number_format(0, '', ','),
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Total to Pay Shareholders',
                        value: '£' ~ originalTotal|number_format(2, '.', ','),
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Divestment Share Price',
                        value: '£' ~ divestmentPrice
                            ~ '\n('
                            ~ (capitalDifference >= 0 ? '+£' : '-£')
                            ~ sharePriceDifference|abs|number_format(5, '.', ',')
                            ~ ')',
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Capital Gain or Loss',
                        value: '£' ~ capitalDifference|number_format(2, '.', ',')
                            ~ '\n('
                            ~ (capitalDifference > 0 ? '+' : '')
                            ~ percentCapitalDifference|number_format(5, '.', ',')
                            ~ '%)',
                        className: 'col-md-6'
                    }) }}
                </div>
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-lg-6">
            {% embed 'admin/components/_bordered_section.html.twig' with {
                "sectionId": "order-status",
                "sectionTitle": "Order Status",
                "linkActions": []
            } %}
                {% block customLinkActions %}
                    {{ include('admin/pages/payment_order/_status_transitions.html.twig', {
                        additionalParams: { redirectRoute: 'admin_monthend_divestment_manage' }
                    }) }}
                {% endblock customLinkActions %}
                
                {% block sectionContent %}
                <div class="row g-3">
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Status',
                        value: paymentOrder.status|capitalize|replace({'_':'-'}),
                        className: 'col-md-6'
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Approved By',
                        value: paymentOrder.approvedBy|default('-'),
                        className: 'col-12',
                        valueClassName: 'bg-light rounded-2 p-3'
                    }) }}
                    {{ include('admin/components/blame-timestamp.html.twig', {
                        object: paymentOrder,
                    }) }}
                </div>
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-12">
            {% embed 'admin/components/_bordered_section.html.twig' with {
                "sectionId": "payments",
                "sectionTitle": "Payments",
                "linkActions": [
                    {
                        "text": "Add Payment",
                        "route": "admin_payment_order_add_payment",
                        "params": {
                            id: paymentOrder.id,
                            redirectRoute: 'admin_monthend_divestment_manage',
                        },
                        "style": "btn-success",
                        "roleRequired": "ROLE_OPERATIONS",
                        "render": paymentOrder.status == 'draft',
                    },
                    {
                        "text": "Generate Payments",
                        "route": "admin_monthend_divestment_generate",
                        "params": {id: paymentOrder.id},
                        "style": "btn-outline-primary",
                        "roleRequired": "ROLE_OPERATIONS",
                        "render": paymentOrder.status == 'draft' and paymentOrder.asset is not null,
                    },
                    {
                        "text": "Clear All Payments",
                        "route": "admin_payment_order_clear_payments",
                        "params": {
                            id: paymentOrder.id,
                            redirectRoute: 'admin_monthend_divestment_manage'
                        },
                        "style": "btn-outline-danger",
                        "roleRequired": "ROLE_OPERATIONS",
                        "render": paymentOrder.status == 'draft',
                    },
                    {
                        "text": "Export Payments List",
                        "route": "admin_payment_order_payments_export",
                        "params": {id: paymentOrder.id},
                        "style": "btn-outline-dark",
                    },
                    {
                        "text": "Manage Email Notifications",
                        "route": "admin_monthend_payment_notifications",
                        "params": {id: paymentOrder.id},
                        "style": "btn-dark",
                    },
                ]
            } %}
                {% block sectionContent %}
                <div class="row g-3">
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Wallet Balance (£)',
                        value: walletBalance|number_format(2, '.', ',')
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Payments Completed',
                        value: paymentsCompletedList|length
                            ~ '/' ~ paymentOrder.payments|length
                    }) }}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Total Paid (£)',
                        value: completedTotal|number_format(2, '.', ',') ~ '/' ~ originalTotal|number_format(2, '.', ',')
                    }) }}     
                    {% set lastTransfer = paymentsCompletedList|sort((a, b) => a.updatedAt <=>
                    b.updatedAt)|last %}
                    {{ include('admin/components/stat.html.twig', {
                        key: 'Most Recently Completed',
                        value: lastTransfer is empty ? "-" : lastTransfer.updatedAt|date('Y-m-d H:i:s (P)'),
                    }) }}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped datatable" id="payments-list">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Payee</th>
                                <th>Payee Wallet</th>
                                <th class="text-end">Amount(£)</th>
                                <th class="text-end">Proportion (%)</th>
                                <th class="text-end">Shareholding</th>
                                <th>Updated</th>
                                <th>Status</th>
                                <th>Transaction Reference</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for paymentRequest in paymentOrder.payments|default([]) %}
                            <tr data-object-id="{{ paymentRequest.id }}">
                                <td>
                                    <div class="d-flex flex-wrap gap-1">
                                        {% if is_granted('ROLE_OPERATIONS') and paymentOrder.status == 'draft' %}
                                            <a class="btn btn-outline-primary text-nowrap"
                                                href="{{ path('admin_payment_request_edit', {
                                                    id: paymentRequest.id,
                                                    redirectRoute: 'admin_monthend_divestment_manage',
                                                }) }}">Edit</a>
                                            <a class="btn btn-outline-danger text-nowrap mt-1 mt-xl-0"
                                                href="{{ path('admin_payment_request_delete', {
                                                    id: paymentRequest.id,
                                                    redirectRoute: 'admin_monthend_divestment_manage'
                                                }) }}"
                                                onclick="return confirm('Are you sure? This cannot be undone')">Delete</a>
                                        {% elseif is_granted('ROLE_FINANCIAL_OPS')
                                            and workflow_can(paymentRequest, constant('App\\Entity\\PaymentRequest::TRANSITION_PAY'))
                                            and workflow_can(paymentOrder, constant('App\\Entity\\AbstractOrder::TRANSITION_RUN'))
                                        %}
                                            <a class="btn btn-outline-primary text-nowrap"
                                                href="{{ path('admin_payment_request_pay', {
                                                    id: paymentRequest.id,
                                                    redirectRoute: 'admin_monthend_divestment_manage',
                                                }) }}">Pay Single</a>
                                        {% endif %}

                                        {% if paymentRequest.payout is not null %}
                                            {{ include('admin/components/button_link.html.twig', {
                                                linkProps: {
                                                    "text": "View Payout",
                                                    "route": 'admin_payout_edit',
                                                    "params": {id: paymentRequest.payout.id},
                                                    "style": "btn-outline-dark text-nowrap",
                                                    "newTab": true,
                                                },
                                            }) }}
                                        {% endif %}
                                        {% if paymentRequest.shareTrade is not null %}
                                            {{ include('admin/components/button_link.html.twig', {
                                                linkProps: {
                                                    "text": "View Share Trade",
                                                    "route": 'admin_share_trade_view',
                                                    "params": {id: paymentRequest.shareTrade.id},
                                                    "style": "btn-outline-dark text-nowrap",
                                                    "newTab": true,
                                                },
                                            }) }}
                                        {% endif %}
                                    </div>
                                </td>
                                <td data-field="debitWalletId">
                                    <a href="{{ path('admin_user_edit', { id: paymentRequest.payee.id }) }}">#{{ paymentRequest.payee.id
                                        }} // {{ paymentRequest.payee.username }}</a>
                                </td>
                                <td class="tw-text-sm tw-font-mono">{{ paymentRequest.payee.mangoPayWalletId }}</td>
                                <td class="text-end tw-tabular-nums" data-field="amount">{{ paymentRequest.amount|number_format(2, '.', ',') }}</td>
                                <td class="text-end tw-tabular-nums">{{ (paymentRequest.amount * 100 / max(originalTotal, 0.01))|number_format(3, '.', ',') }}</td>
                                <td class="text-end tw-tabular-nums" data-field="shareholding">{{ paymentRequest.shareholding|number_format(0, '', ',') }}</td>
                                <td>{{ paymentRequest.updatedAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ paymentRequest.status|capitalize }}{% if paymentRequest.statusInfo %} ({{ paymentRequest.statusInfo }}){% endif %}</td>
                                <td class="tw-text-sm tw-font-mono">{{ paymentRequest.payout.transactionId|default('N/A') }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock page_content %}