{% extends 'admin/layouts/monthend.html.twig' %}

{% set areaHeading = 'Monthend' %}
{% set mainHeading = 'Repayments Overview' %}

{% block page_content %}

    {% include 'admin/components/_horizontal_nav_btn_group.html.twig' with {
        'autodetectActive': true,
        'links': {
            navId: 'repayment-order-filter',
            navLabel: 'repayment-filter-options',
            linkDefinitions: [
                {
                    route: 'admin_monthend_overview_repayments',
                    params: {},
                    text: 'Pending Repayments',
                },
                {
                    route: 'admin_monthend_overview_repayments_list',
                    params: {},
                    text: 'All Repayments',
                },
            ]
	    }
    } only %}

    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": "overview-repayments-list",
        "sectionTitle": "All Prefunder Repayments",
        "linkActions": [
            {
				"text": "Create Repayment",
				"route": "admin_monthend_repayment_create",
				"params": {},
				"style": "btn-success",
				"roleRequired": "ROLE_OPERATIONS",
			},
            {
				"text": "Review All Tracked Shares",
				"route": "admin_administration_shares_circulation",
				"params": {},
				"style": "btn-outline-dark",
				"newTab": true,
			},
        ]
    } %}
        {% block sectionContent %}
        {{ include('admin/components/pagerfanta_meta_slim.html.twig', {
            list: objects
        }) }}
        <div class="table-responsive">
            <table class="table" id="repayments-list">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Related Monthend</th>
                        <th>Asset</th>
                        <th class="text-end">Asset Value (£)</th>
                        <th class="text-end">Shares</th>
                        <th class="text-end">Amount (£)</th>
                        <th class="text-end">Payments</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paymentOrder in objects|default([]) %}
                    {% set totalShareholding = paymentOrder.payments|reduce((carry, v) => carry + v.shareholding) %}
                    {% set totalValue = paymentOrder.payments|reduce((carry, v) => carry + v.amount) %}
                    <tr>
                        <td><a class="btn btn-outline-primary"
                            href="{{ path('admin_monthend_repayment_manage', { id: paymentOrder.id }) }}">
                            {%- if is_granted('ROLE_OPERATIONS') %}Manage{% else %}View{% endif -%}
                            </a>
                        </td>
                        <td>{{ paymentOrder.id }}</td>
                        <td>{{ paymentOrder.scheduledFor|date('Y-m-d', false) }}</td>
                        <td>#{{ paymentOrder.asset.id }} // {{ paymentOrder.asset.name }} ({{ paymentOrder.asset.companyNumber }})</td>
                        <td class="text-end tw-tabular-nums">{{ paymentOrder.asset.fundingGoal|number_format(2, '.', ',') }}</td>
                        <td class="text-end tw-tabular-nums">{{ totalShareholding|default('0') }}</td>
                        <td class="text-end tw-tabular-nums">{{ totalValue|number_format(2, '.', ',') }}</td>
                        <td class="text-end tw-tabular-nums">{{ paymentOrder.payments|length }}</td>
                        <td>{{ paymentOrder.status|capitalize|replace({'_':'-'}) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    {% endembed %}

{% endblock page_content %}