{% extends 'admin/layouts/object_editor.html.twig' %}

{% set backToRoute = backToRoute|default('admin_share_trade_index') %}
{% set areaHeading = 'Share Trades' %}
{% set mainHeading = mainHeading|default('Create Share Trade') %}
{% set baseTemplate = 'cms' %}
{% set maturityLabel = 'alpha' %}

{% if shareTrade is defined and shareTrade.id is not null %}
    {% set backToRoute = 'admin_share_trade_view' %}
    {% set backToRouteParams = { id: shareTrade.id } %}
    {% set mainHeading = 'Edit Share Trade #' ~ shareTrade.id %}
{% endif %}

{# Configure page blocks #}
{% block formContents %}
    <section class="row">
        {# <div class="col-sm-6">{{ form_row(form.asset, {attr: {'class': 'searchable' }}) }}</div> #}
        <div class="col-sm-6">{{ form_row(form.sellOrder) }}</div>
        <div class="col-sm-6">{{ form_row(form.buyOrder) }}</div>
        <div class="col-sm-6">{{ form_row(form.numberOfShares) }}</div>
        <div class="col-sm-6">{{ form_row(form.pricePerShare) }}</div>
        <div class="col-sm-6">{{ form_row(form.tradeValue) }}</div>
        {% if shareTrade is not defined or shareTrade.id is null %}<div class="col-sm-6">{{ form_row(form.status) }}</div>{% endif %}
        {# <div class="col-12">{{ form_row(form.notes) }}</div> #}
    </section>
{% endblock %}

{% block formSubmit %}
    {% if shareTrade is not defined or shareTrade.id is null %}
        <button class="btn btn-success" id="submit" type="submit">Create Share Trade</button>
        <a class="btn btn-outline-secondary text-nowrap" href="{{ path(backToRoute) }}">Abandon</a>
    {% else %}
        <button class="btn btn-primary" id="submit" type="submit">Save Changes</button>
        <a class="btn btn-outline-secondary text-nowrap" href="{{ path(backToRoute, backToRouteParams) }}">Cancel</a>
    {% endif %}
{% endblock %}
