<!-- footer -->


<footer>
	<div class="footer-top bg-greymedium">
		<div class="container pt-3 pb-2 risk-warning">
			<p class="font-medium footerText">
				RISK WARNING: Investments in property and unlisted shares carry risk and you may not receive the anticipated returns and your capital may be at risk. Yielders Limited is directly authorised and regulated by the Financial Conduct Authority (745636)
				Yielders Ltd. Company Number: 09757611 'Yielders does not provide any advice in relation to investments and you must rely on your own due diligence before investing. Please remember that property prices can go down as well as up and that all figures, rates and yields are projections only and should not be relied on. If in doubt, please seek the advice of a financial adviser. Yielders Investments are only available to certain specified persons who are sufficiently sophisticated to understand the risks.'
			</p>
		</div>
		<div class="container pb-3">
			<div class="d-md-flex align-items-md-center justify-content-md-between mt-4 mt-sm-2 flex-md-row flex-sm-column ">
				<img src="{{ asset('bundles/app/img/')~footerLogo }}" class="mb-3 mb-md-0" loading="lazy" alt="yielders-logo" style="max-height: 48px; max-width: 144px;">


				<div class="d-flex">
					<ul class="nav-footer font-medium pr-lg-3">
						<li>
							<a href="{{ path('product_properties_current') }}">Properties</a>
						</li>
						<li>
							<a href="{{ path('about_us') }}">About Us</a>
						</li>
						<li>
							<a href="{{ path('how_it_works')}}">How It Works</a>
						</li>
						<li>
							<a href="http://help.yielders.co.uk/en">Knowledge Center</a>
						</li>
					</ul>
					<div class="font-medium">
						<p class="mb-0">Contact</p>
						<p class="mb-0">T: +44 (0) 207 205 4650</p>
						<p>E: team@yielders.co.uk</p>
					</div>

				</div>
			</div>
		</div>

	</div>
	<div class="footer-bottom bg-greydark">
		<div class="container py-2">
			<div class="d-flex justify-content-between align-items-center flex-md-row flex-column">
				<div class="social d-flex mb-1 mb-md-0">
					<a href="https://www.facebook.com/yielders/" class="mr-1">
						<svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
							<style type="text/css">
								.st0 {
									fill-rule: evenodd;
									clip-rule: evenodd;
								}
							</style>
							<title></title>
							<g id="Page-1">
								<g id="Facebook">
									<path id="Oval-1" class="st0" d="M25,50c13.8,0,25-11.2,25-25S38.8,0,25,0S0,11.2,0,25S11.2,50,25,50z M25,47c12.2,0,22-9.8,22-22
									                                            S37.2,3,25,3S3,12.8,3,25S12.8,47,25,47z M26.8,36V25h3.3l0.4-3.8h-3.7l0-1.9c0-1,0.1-1.5,1.6-1.5h2V14h-3.3
									                                            c-3.9,0-5.3,1.8-5.3,4.9v2.3h-2.4V25h2.4v11H26.8z"/>
								</g>
							</g>
						</svg>

					</a>
					<a href="https://www.linkedin.com/company/yielders/" class="mr-1">
						<svg height="32px" version="1.1" viewBox="0 0 50 50" width="32px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><defs/><g fill="#000" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                        <style type="text/css">
								.st0 {
									fill-rule: evenodd;
									clip-rule: evenodd;
								}
							</style>
								<g class="st0" id="LinkedIn"><path d="M25,50 C38.8071194,50 50,38.8071194 50,25 C50,11.1928806 38.8071194,0 25,0 C11.1928806,0 0,11.1928806 0,25 C0,38.8071194 11.1928806,50 25,50 Z M25,47 C37.1502651,47 47,37.1502651 47,25 C47,12.8497349 37.1502651,3 25,3 C12.8497349,3 3,12.8497349 3,25 C3,37.1502651 12.8497349,47 25,47 Z M14,20.1180479 L14,34.6581834 L18.7100851,34.6581834 L18.7100851,20.1180479 L14,20.1180479 Z M16.6646962,13 C15.0534058,13 14,14.0858611 14,15.5115122 C14,16.9076331 15.0222711,18.0247614 16.6035556,18.0247614 L16.6336556,18.0247614 C18.2759867,18.0247614 19.2988222,16.9076331 19.2988222,15.5115122 C19.2682519,14.0858611 18.2759867,13 16.6646962,13 Z M30.5769213,20.1180479 C28.076176,20.1180479 26.9565501,21.5293199 26.3314108,22.5193527 L26.3314108,20.4598644 L21.6207614,20.4598644 C21.6828427,21.8242356 21.6207614,35 21.6207614,35 L26.3314108,35 L26.3314108,26.8795887 C26.3314108,26.445032 26.3619812,26.0115368 26.4865199,25.7004084 C26.826932,24.83226 27.6020069,23.9334233 28.9032674,23.9334233 C30.6083381,23.9334233 31.2899149,25.2667202 31.2899149,27.2206333 L31.2899149,34.999614 L35.9998119,34.999614 L36,26.6627446 C36,22.1966439 33.6763743,20.1180479 30.5769213,20.1180479 Z M30.5769213,20.1180479" id="Oval-1"/></g>
							</g>
						</svg>

					</a>
					<a href="https://twitter.com/yieldersuk" class="mr-1">
						<svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
							<style type="text/css">
								.st0 {
									fill-rule: evenodd;
									clip-rule: evenodd;
								}
							</style>
							<title></title>
							<g id="Page-1">
								<g id="Twitter">
									<path id="Oval-1" class="st0" d="M25,50c13.8,0,25-11.2,25-25S38.8,0,25,0S0,11.2,0,25S11.2,50,25,50z M25,47c12.2,0,22-9.8,22-22
									                                            S37.2,3,25,3S3,12.8,3,25S12.8,47,25,47z M24.7,20.6l0,0.8l-0.8-0.1c-2.9-0.4-5.4-1.7-7.6-3.9l-1-1.1L15,17.1
									                                            c-0.6,1.8-0.2,3.7,1,5c0.6,0.7,0.5,0.8-0.6,0.4c-0.4-0.1-0.7-0.2-0.7-0.2c-0.1,0.1,0.3,1.6,0.6,2.2c0.4,0.8,1.3,1.7,2.2,2.1
									                                            l0.8,0.4l-0.9,0c-0.9,0-0.9,0-0.8,0.4c0.3,1.1,1.6,2.2,3,2.8l1,0.4l-0.9,0.5c-1.3,0.8-2.8,1.2-4.3,1.2c-0.7,0-1.3,0.1-1.3,0.1
									                                            c0,0.2,1.9,1.1,3.1,1.5c3.4,1.1,7.4,0.6,10.4-1.2c2.1-1.3,4.3-4,5.3-6.5c0.5-1.4,1.1-3.8,1.1-5c0-0.8,0-0.9,0.9-1.8
									                                            c0.5-0.5,1-1.1,1.1-1.3c0.2-0.3,0.1-0.3-0.7,0c-1.4,0.5-1.5,0.4-0.9-0.3c0.5-0.5,1.1-1.5,1.1-1.8c0-0.1-0.2,0-0.5,0.2
									                                            c-0.3,0.2-0.9,0.4-1.4,0.6l-0.9,0.3l-0.8-0.6c-0.4-0.3-1-0.6-1.4-0.7c-0.8-0.2-2.1-0.2-2.8,0.1C25.8,16.5,24.5,18.4,24.7,20.6
									                                            C24.7,20.6,24.5,18.4,24.7,20.6z"/>
								</g>
							</g>
						</svg>

					</a>
					<a href="https://www.instagram.com/yieldersuk/" class="mr-1">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
							<g class="st0">
								<path d="M25,0C11.2,0,0,11.2,0,25s11.2,25,25,25s25-11.2,25-25S38.8,0,25,0z M25,47C12.8,47,3,37.2,3,25S12.8,3,25,3s22,9.8,22,22
									                                        S37.2,47,25,47z"/>
								<path d="M25,18.4c-3.6,0-6.5,2.9-6.5,6.5c0,3.6,2.9,6.5,6.5,6.5s6.5-3,6.5-6.5S28.6,18.4,25,18.4z M25,29.1c-2.3,0-4.2-1.9-4.2-4.2
									                                        c0-2.3,1.9-4.2,4.2-4.2s4.2,1.9,4.2,4.2C29.2,27.2,27.3,29.1,25,29.1z"/>
								<circle cx="31.8" cy="18.2" r="1.5"/>
								<path d="M30.2,12.3H19.7c-4.5,0-7.4,3-7.4,7.4v10.5c0,2.2,0.7,4.1,2.1,5.5c1.4,1.3,3.2,2,5.3,2h10.4c2.2,0,4-0.7,5.4-2
								                                        s2.1-3.2,2.1-5.4V19.7c0.1-2.1-0.6-4-2-5.3C34.3,13,32.4,12.3,30.2,12.3z M35.4,30.3c0,1.6-0.6,2.9-1.5,3.7
								                                        c-0.9,0.9-2.2,1.3-3.7,1.3H19.8c-1.5,0-2.8-0.5-3.7-1.3c-0.9-0.9-1.4-2.2-1.4-3.8V19.7c0-1.5,0.5-2.8,1.4-3.7
								                                        c0.9-0.9,2.2-1.3,3.7-1.3h10.5c1.5,0,2.8,0.5,3.7,1.4c0.9,0.9,1.4,2.2,1.4,3.7V30.3z"/>
							</g>
						</svg>

					</a>
				</div>
				<div class="copyright mb-1 mb-md-0">&copy; Copyright {{ 'now'|date('Y') }} Yielders {{ version }}</div>
				<div class="font-medium mb-1 mb-md-0">
					<a href="{{ path('terms_conditions') }}" class="btn-link">Terms & Conditions</a>
					|
					<a href="{{ path('privacy_policy') }}" class="btn-link">Privacy
						                            Policy</a>
				</div>
			</div>

		</div>
	</div>
</footer>
