<section class="media-mentions">
    <div class="container">
        <h2>As seen in</h2>
        <div class="row" id="media-links">
            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1">
                <a href="https://www.salaamgateway.com/en/story/islamic_economy_award_2017_winners_announced-SALAAM27112017101913/" target="_blank">
                    <img src="{{ asset('bundles/app/images/logos/salaamlogo.png') }}" loading="lazy" alt="Salaam Gateway">
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <a href="https://www.independent.co.uk/Business/indyventure/yielders-islamic-fintech-uk-regulatory-approval-first-to-get-finance-financial-conduct-authority-a7675971.html" target="_blank">
                    <img src="{{ asset('bundles/app/images/logos/independentlogo.png') }}" loading="lazy" alt="The Independent">
                </a>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <a href="https://thefintechtimes.com/award-winning-shariah-based-fintech-firm-yielders-pioneering-growth-islamic-finance/" target="_blank">
                    <img src="{{ asset('bundles/app/images/logos/fintechtimeslogo.jpg') }}" loading="lazy" alt="Fintech Times">
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <a href="https://uk.reuters.com/article/uk-britain-islamic-fintech-idUKKBN17C0FM" target="_blank">
                    <img src="{{ asset('bundles/app/images/logos/reuterslogo.png') }}" loading="lazy" alt="Thomson Reuters">
                </a>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <a href="https://www.forbes.com/sites/kittyknowles/2017/04/11/fintech-london-yielders-islamic-business-muslim-finance-crowdfunding-news/#3ec66d037497" target="_blank">
                    <img src="{{ asset('bundles/app/images/logos/forbeslogo.png') }}" loading="lazy" alt="Forbes">
                </a>
            </div>
        </div>
    </div>
</section>
