{% extends 'admin/layouts/cms.html.twig' %}

{% set backToRoute = 'admin_payment_order' %}
{% set areaHeading = 'Payment Orders' %}
{% set mainHeading = 'Manage Payment Order #' ~ paymentOrder.id|default() %}
{% set htmlTitle = 'Manage Payment Order' %}

{% block page_content %}

    {% if paymentOrder.debitWallet == 'distribution' and  paymentOrder.asset.distributionWalletId is empty %}
        {% embed 'admin/components/_bordered_section.html.twig' with {
            "sectionId": "missing-wallet-warning",
            "sectionTitle": "Distribution Wallet Missing",
            "sectionStyle": "border rounded-3 p-3 p-lg-4 border-warning",
            "linkActions": [
                {
                    "text": "Configure Asset Wallets",
                    "route": "admin_asset_wallets_manage",
                    "params": {"asset": paymentOrder.asset.id},
                    "style": "btn-primary",
                },
            ]
        } %}
            {% block sectionContent %}

            {% embed 'admin/components/_alert.html.twig' with {
                variant: 'warning',
            } %}
                {% block message %}
                    <p>This payment order is still editable, but cannot be run until the <code class="fw-bold">distribution</code> wallet has been created.</p>
                    <p class="mb-0">This is because payments are be paid from the <code class="fw-bold">distribution</code> wallet.</p>
                {% endblock message %}
            {% endembed %}

                
            {% endblock %}
        {% endembed %}
    {% endif %}

    {{ include('admin/components/monthend/_empty_payment_warning.html.twig') }}

    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": "order-info",
        "sectionTitle": "Order Info",
        "linkActions": [
            {
                "text": "Edit Payment Order",
                "route": "admin_payment_order_edit",
                "params": {id: paymentOrder.id},
                "style": "btn-secondary",
                "roleRequired": "ROLE_OPERATIONS",
            },
            {
                "text": "View Wallet Balances",
                "route": "admin_asset_wallets_manage",
                "params": {asset: paymentOrder.asset.id},
                "style": "btn-outline-dark",
            },
            {
                "text": "Go to Monthend Dashboard",
                "route": "admin_monthend_asset_dashboard",
                "params": {id: paymentOrder.asset.id},
                "style": "btn-outline-dark",
            },
        ]
    } %}
        {% block sectionContent %}
        <div class="row g-3">
            {{ include('admin/components/stat.html.twig', {
                key: 'Order Id',
                value: paymentOrder.id
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Payment Type',
                value: paymentOrder.paymentType|capitalize
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Paying From Wallet',
                value: paymentOrder.debitWallet|default('main')|capitalize
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Scheduled For',
                value: paymentOrder.scheduledFor|date('Y-m-d', false)
            }) }}
            {% set asset = paymentOrder.asset %}
            {{ include('admin/components/stat.html.twig', {
                key: 'Asset',
                value: '#%s // %s (%s)'|format(asset.id, asset.name, asset.companyNumber),
                className: 'col-12 col-md-6'
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Asset Current Shareholders',
                value: currentShareholders|length
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Description',
                value: paymentOrder.description|default('-'),
                className: 'col-12',
                valueClassName: 'bg-light rounded-2 p-3'
            }) }}
            {{ include('admin/components/blame-timestamp.html.twig', {
                object: paymentOrder,
            }) }}
        </div>
        {% endblock %}
    {% endembed %}

    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": "order-status",
        "sectionTitle": "Order Status",
    } %}
        {% block customLinkActions %}
            {{ include('admin/pages/payment_order/_status_transitions.html.twig') }}
        {% endblock customLinkActions %}

        {% block sectionContent %}
        <div class="row g-3">
            {{ include('admin/components/stat.html.twig', {
                key: 'Status',
                value: paymentOrder.status|capitalize|replace({'_':'-'})
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Payments Pending',
                value: paymentOrder.payments|filter(p => p.status == 'pending')|length
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Payments Paid',
                value: paymentOrder.payments|filter(p => p.status == 'paid')|length
            }) }}
            {% set lastPayment = paymentOrder.payments|filter(p => p.status == 'paid')|sort((a, b) => a.updatedAt <=>
            b.updatedAt)|last %}
            {{ include('admin/components/stat.html.twig', {
                key: 'Most Recently Paid',
                value: lastPayment is empty ? "-" : lastPayment.updatedAt|date('Y-m-d H:i:s (P)'),
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Approved By',
                value: paymentOrder.approvedBy|default('-'),
                className: 'col-12',
                valueClassName: 'bg-light rounded-2 p-3'
            }) }}
        </div>
        {% endblock %}
    {% endembed %}

    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": "payments-info",
        "sectionTitle": "Payments Info",
        "linkActions": [
            {
                "text": "Add Payment",
                "route": "admin_payment_order_add_payment",
                "params": {id: paymentOrder.id},
                "style": "btn-success",
                "roleRequired": "ROLE_OPERATIONS",
                "render": workflow_can(paymentOrder, 'approve'),
            },
            {
                "text": "Clear All Payments",
                "route": "admin_payment_order_clear_payments",
                "params": {id: paymentOrder.id},
                "style": "btn-outline-danger",
                "roleRequired": "ROLE_OPERATIONS",
                "render": workflow_can(paymentOrder, 'approve'),
            },
            {
                "text": "Export Payments List",
                "route": "admin_payment_order_payments_export",
                "params": {id: paymentOrder.id},
                "style": "btn-outline-dark",
            },
        ]
    } %}
        {% block sectionContent %}
        <div class="row mb-3">
            {% set paymentsList = paymentOrder.payments %}
            {% set originalTotal = paymentsList|reduce((carry, v) => carry + v.amount) %}
            {{ include('admin/components/stat.html.twig', {
                key: 'Total Due (£)',
                value: originalTotal|number_format(2, '.', ',')
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Total Shareholding',
                value: paymentsList|reduce((carry, v) => carry + v.shareholding)|number_format(0, '', ',')
            }) }}
            {{ include('admin/components/stat.html.twig', {
                key: 'Total Payments',
                value: paymentOrder.payments|length
            }) }}
        </div>
        <div class="table-responsive">
            <table class="table table-striped datatable" id="payments-list">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Id</th>
                        <th>Payee</th>
                        <th>Payee Wallet Id</th>
                        <th class="text-end">Amount to pay (£)</th>
                        <th class="text-end">Proportion (%)</th>
                        <th class="text-end">Shareholding</th>
                        <th>Updated</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paymentRequest in paymentOrder.payments|default([]) %}
                        <tr>
                            <td>
                                <div class="d-flex flex-wrap gap-2">
                                    {% if is_granted('ROLE_OPERATIONS') and paymentOrder.status == 'draft' %}
                                        {{ include('admin/components/button_link.html.twig', {
                                            linkProps: {
                                                "text": "Edit",
                                                "route": 'admin_payment_request_edit',
                                                "params": {id: paymentRequest.id},
                                                "style": "btn-outline-primary text-nowrap",
                                            },
                                        }) }}
                                        {{ include('admin/components/button_link.html.twig', {
                                            linkProps: {
                                                "text": "Delete",
                                                "route": 'admin_payment_request_delete',
                                                "params": {id: paymentRequest.id},
                                                "style": "btn-outline-danger text-nowrap",
                                                "dangerous": true,
                                            },
                                        }) }}
                                    {% elseif is_granted('ROLE_FINANCIAL_OPS')
                                        and workflow_can(paymentRequest, constant('App\\Entity\\PaymentRequest::TRANSITION_PAY'))
                                        and workflow_can(paymentOrder, constant('App\\Entity\\AbstractOrder::TRANSITION_RUN'))
                                    %}
                                        {{ include('admin/components/button_link.html.twig', {
                                            linkProps: {
                                                "text": "Pay Single",
                                                "route": 'admin_payment_request_pay',
                                                "params": {id: paymentRequest.id},
                                                "style": "btn-primary text-nowrap",
                                            },
                                        }) }}
                                        {{ include('admin/components/button_link.html.twig', {
                                            linkProps: {
                                                "text": "Link Existing Transaction",
                                                "route": 'admin_payment_request_search_transfer',
                                                "params": {id: paymentRequest.id},
                                                "style": "btn-outline-primary text-nowrap",
                                            },
                                        }) }}
                                    {% endif %}
                                    {% if paymentRequest.payout is not null %}
                                        {{ include('admin/components/button_link.html.twig', {
                                            linkProps: {
                                                "text": "View Payout",
                                                "route": 'admin_payout_edit',
                                                "params": {id: paymentRequest.payout.id},
                                                "style": "btn-outline-dark text-nowrap",
                                                "newTab": true,
                                            },
                                        }) }}
                                    {% endif %}
                                    {% if paymentRequest.shareTrade is not null %}
                                        {{ include('admin/components/button_link.html.twig', {
                                            linkProps: {
                                                "text": "View Share Trade",
                                                "route": 'admin_share_trade_view',
                                                "params": {id: paymentRequest.shareTrade.id},
                                                "style": "btn-outline-dark text-nowrap",
                                                "newTab": true,
                                            },
                                        }) }}
                                    {% endif %}
                                </div>
                            </td>
                            <td data-field="id">{{ paymentRequest.id }}</td>
                            <td data-field="payee">
                                <a href="{{ path('admin_user_edit', { id: paymentRequest.payee.id }) }}">#{{ paymentRequest.payee.id
                            }} // {{ paymentRequest.payee.username }}</a>
                            </td>
                            <td class="tw-text-sm tw-font-mono" data-field="payeeWallet">{{ paymentRequest.payee.mangoPayWalletId }}</td>
                            <td class="text-end tw-tabular-nums" data-field="amount">{{ paymentRequest.amount|number_format(2, '.', ',') }}</td>
                            <td class="text-end tw-tabular-nums" data-field="proportion">{{ (paymentRequest.amount * 100 / max(originalTotal, 0.01))|number_format(3, '.', ',') }}</td>
                            <td class="text-end tw-tabular-nums" data-field="shareholding">{{ paymentRequest.shareholding|number_format(0, '', ',') }}</td>
                            <td data-field="updatedAt">{{ paymentRequest.updatedAt|date('Y-m-d H:i:s (P)') }}</td>
                            <td data-field='status'>{{ paymentRequest.status|capitalize }}{% if paymentRequest.statusInfo %} ({{ paymentRequest.statusInfo }}){% endif %}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    {% endembed %}

{% endblock page_content %}
