{% extends '@AppBundle/base.html.twig' %}

{% block body %}
<main role="main">
    <div class="hero-banner properties banner-medium bg-fixed bg-overlay">
        <div class="container pt-6 pt-md-8 position-relative layer-z-1">
            <div class="hero-banner-content pr-2 py-4 text-center">
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <h2 class="h1 hero-banner-hd text-light mb-3">
                            Archived Properties
                        </h2>
                    </div>
                    {# <div class="col-lg-8 mx-auto">
						<p class="hero-banner-dtls text-light mb-4">
                            Properties that have paid back investors and are no longer under Yielders management.
						</p>
					</div> #}
                </div>
            </div>
        </div>
    </div>

    <section class="container my-4">
        {# <div class="row">
            <aside class="col-lg-3">
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <section class="d-flex g-2">
                    <button type="submit" id="submit" class="btn-primary btn">Apply Filters</button>
                    <a href="{{ app.request.pathinfo }}" class="btn-secondary btn">Clear Filters</a>
                </section>
            {{ form_end(form) }}
            </aside>
            <div class="col-lg-9">
                <div class="row gap-y-5">
                {% for entry in assets %}
                    <article class="col-md-6 d-flex align-items-stretch">
                        {{ include('@AppBundle/Product/_asset_card.html.twig', {
                            asset: entry,
                        }) }}
                    </article>
                {% endfor %}
                </div>
            </div>
        </div> #}
        <div class="row gap-y-5" id="products-list">
            {# Load featured products first #}
            {% for entry in assets|sort((a, b) => b.statusOccuredAt|default(b.createdAt) <=> a.statusOccuredAt|default(a.createdAt) ) %}
                <article class="col-md-6 col-lg-4 d-flex align-items-stretch">
                    {{ include('@AppBundle/Product/_asset_card.html.twig', {
                        asset: entry,
                        showFields: [
                            "Net Projected Yield",
                            "Target End Date",
                            "Price",
                        ]
                    }) }}
                </article>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}