{% extends 'admin/layouts/cms.html.twig' %}

{% set backToRoute = 'admin_report_set_index' %}
{% set areaHeading = 'Report Sets' %}
{% set mainHeading = 'Report Set' %}
{% set maturityLabel = 'beta' %}

{% set statusToColor = {
    'available': 'green',
    'pending': 'yellow',
    'draft': 'gray',
} %}

{% block page_content %}
    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": 'report-set-info',
        "sectionTitle": 'Report Set Information',
        "linkActions": [
            {
				"text": "Manage with Transaction Report Builder",
				"route": "admin_reports_mangopay_set_view",
				"params": {
                    id: reportSet.id
                },
				"style": "btn-outline-dark",
                "render": reportSet.reportSetType == constant('\\App\\Entity\\Enum\\ReportSetType::WalletTransaction'),
			},
        ]
    } %}
        {% block sectionContent %}

            <div class="row g-3">
                {{ include('admin/components/stat.html.twig', {
                    key: 'Id',
                    value: reportSet.id,
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Type',
                    value: reportSet.reportSetType.value|capitalize,
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Asset',
                    value: reportSet.asset is not null 
                        ? '#' ~ reportSet.asset.id ~ ' // ' ~ reportSet.asset.name ~ ' (' ~ reportSet.asset.companyNumber ~ ')'
                        : 'N/A',
                    className: 'col-md-6',
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Description',
                    value: reportSet.description,
                    className: 'col-12',
                    valueClassName: 'bg-light rounded-2 p-3'
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Period Start',
                    value: reportSet.periodStart ? reportSet.periodStart|date('Y-m-d H:i') : 'N/A',
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Period End',
                    value: reportSet.periodEnd ? reportSet.periodEnd|date('Y-m-d H:i') : 'N/A',
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Status',
                    value: reportSet.status.value|capitalize,
                }) }}
                {{ include('admin/components/stat.html.twig', {
                    key: 'Progress',
                    value: reportSet.progress,
                }) }}
            </div>
            {{ include('admin/components/blame-timestamp.html.twig', {
                object: reportSet,
            }) }}
        {% endblock %}
    {% endembed %}

    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": 'reports-info',
        "sectionTitle": 'Reports',
        "linkActions": []
    } %}
        {% block sectionContent %}

            <div class="row g-3">
                {{ include('admin/components/stat.html.twig', {
                    key: 'Number of Reports',
                    value: reportSet.reports|length,
                }) }}
            </div>
            <div class="table-responsive">
                <table class="table" id="reports-list">
                    <thead>
                        <tr>
                            <th>Actions</th>
                            <th>Id</th>
                            <th>Description</th>
                            <th>Origin</th>
                            <th>Resource Id</th>
                            <th>Reference Id</th>
                            <th>Created At</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reportSet.reports %}
                        <tr class="tw-text-sm" data-object-id="{{ report.id }}">
                            <td><a class="btn btn-outline-primary text-nowrap"
                                href="{{ path('admin_reports_view', { 
                                id: report.id }
                            ) }}">More Info</a></td>
                            <td>{{ report.id }}</td>
                            <td>{{ report.Description }}</td>
                            <td>{{ report.origin|capitalize }}</td>
                            <td>{{ report.resourceId }}</td>
                            <td>{{ report.referenceId }}</td>
                            <td class="tw-tabular-nums">{{ report.createdAt|date('Y-m-d H:i') }}</td>
                            <td>
                                <span class="d-flex gap-2 align-items-center">
                                    {{ include('admin/components/_indicator.html.twig', {color: statusToColor[report.status.value] }) }}
                                    {{ report.status.value|capitalize }}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock page_content %}
