{% set hasUserInfo = false %}
{% set authenticated = false %}
{% if app.session.has('authenticated') %}
    {% set authenticated = app.session.get('authenticated') %}
{% endif %}
{% if app.session.has('userInfo') %}
    {% set hasUserInfo = app.session.has('userInfo') %}
    {% set userInfo = app.session.get('userInfo') %}
{% endif %}
{% extends '@AppBundle/base.html.twig' %}
{# {% extends "@AppBundle/base-lite.html.twig" %} #}
{% block title %}My Wallet
{% endblock %}
{% block body %}
    <main role="main">
        {% include('@AppBundle/Common/breadcrumb.html.twig')%}
        <section>
            <div class="container my-2 my-md-4">
                <div class="page-head pb-2 d-flex justify-content-between align-items-center">
                    <h3><img src="{{asset('bundles/app/svg/')}}account_circle.svg" loading="lazy" alt="">
                        My Profile</h3>
                </div>
                <div class="row no-gutters border-top">
                    <div class="col-md-3">
                        {% include('@AppBundle/Common/profilenav.html.twig')%}
                    </div>
                    <div class="col-md-9 p-1 pl-md-4 pb-md-4 mt-2">
                        {# <div class="profile-banner portfolio-head wallet-profile">
                            <div class="profile-info p-3 border-0 bg-info rounded-0 shadow-sm mb-4">
                                <div class="row">
                                    <div class="col-lg-6 u-name">
                                        <h3>Hi
                                            {{ userInfo.given_name }}
                                        </h3>
                                    </div>
                                    <div class="col-lg-6 p-wal">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <p class="h3 mb-0">£
                                                    <span>{{ app.session.get('balance')|default('0.00')|replace({' ':','}) }}</span>
                                                </p>in my wallet
                                            </li>
                                            {% if wallet.id|default() %}
                                                <li class="">
                                                    <a class="def-btn" onclick="location.href='/add-funds-new'" ;>Add Funds</a>
                                                    <a class="def-btn" data-toggle="modal" data-target="#modalWithdrawFunds">Withdraw Funds</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> #}
                        {# End of Profile header #}
                        <section id="bankwire-step-1">
                            <h3>Add funds by bankwire payin</h3>
                            <div class="my-3 p-2 border">
                                <div class="mb-1">Alternative payin methods:</div>
                                <a href="{{ path('add_fund_new') }}" class="btn btn-secondary">Pay by Debit Visa / Mastercard</a> 
                            </div>
                            <section class="mt-2">
                                <h4>1. Create bankwire transfer instruction</h4>
                                <p>Use the form below to let our payment provider know how much you would like to add to your wallet.</p>
                                <p>You will then receive instructions on how to complete your payin</p>

                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_label(form.amount) }}
                                    {{ form_errors(form.amount) }}
                                    {{ form_widget(form.amount, {'attr': {'class': 'form-control font-weight-bold bg bg-secondary border border-medium rounded', 'min': '100'}}) }}
                                    <p class="help-block text-md mt-1">
                                        The minimum amount that can be added via a bankwire transfer is <span class="font-medium">£100</span>
                                    </p>
                                </div>
                                <input class="btn btn-primary rounded-pill px-3 mt-2" type="submit" value="Create Transfer Instruction">
                                {{ form_end(form) }}

                            </section>
                            {# Step 1 #}
                        </section>
                        {# main profile area #}
                    </div>
                </div>
            </div>
        </section>
        {# Profile layout common #}
    </main>
{% endblock %}

{% block pagejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"></script>
{% endblock %}
