
{% extends '@AppBundle/base.html.twig' %}

{% block title %}Password & Security{% endblock %}


{% block body %}

 <!-- main body -->
    <main role="main">
       {% include('@AppBundle/Common/breadcrumb.html.twig')%}

        <!-- profile detail -->
        <section>
            <div class="container my-2 my-md-4">
                <div class="page-head pb-2 d-flex justify-content-between align-items-center">
                    <h3><img src="{{asset('bundles/app/svg/')}}account_circle.svg" loading="lazy" alt=""> My Profile</h3>
                </div>
                <div class="row no-gutters border-top">
                    <div class="col-md-3">
                    {% include('@AppBundle/Common/profilenav.html.twig')%}
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content p-1 pt-md-4 pl-md-4 pb-md-4" id="v-pills-tabContent">
                            <!-- change password -->
                            <div class="tab-pane fade show active" id="security" role="tabpanel" aria-labelledby="security-tab">
                                {# <div class="p-3 border-0 bg-info rounded-0 shadow-sm d-flex align-items-start mb-3">
                                    <img src="{{asset('bundles/app/svg/')}}shield.svg" loading="lazy" alt="" style="width: 70px;" class="mr-2">
                                    <div>
                                        <p class="h6 mb-1">Two-Factor Authentication</p>
                                        <p class="text-sm">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed
                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                            sed
                                            diam voluptua. At vero eos et accusam et justo duo dolores et</p>

                                        <div
                                            class="custom-control custom-checkbox mini-checkbox d-flex align-items-center">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label text-sm font-medium"
                                                for="customCheck1">Enable Two-Factor
                                                Authentication</label>
                                        </div>

                                    </div>
                                </div> #}
                                <h4 class="mb-3">Change Password</h4>
                                 {{ form_start(formChangePassword, {'attr': {'id': 'change_password_form', 'role': 'form'}, 'action': path('change_password'), 'method': 'POST'}) }}
                                    <p id="error_password"></p>
                                    <div class="form-row">
                                        <div class="form-group col-md-6  pw-field position-relative">
                                            <label for="">Current Password</label>
                                            {# <input type="password" class="form-control" id=""> #}
                                             {{ form_widget(formChangePassword.current_password, {'attr': {'class': 'form-control ' }}) }}
                                             <i class="pw-eye pw-hide position-absolute" aria-hidden="true"></i>                                        
                                        </div>
                                        <div class="form-group col-md-6 pw-field position-relative">
                                            <label for="">New Password</label>
                                            {# <input type="password" class="form-control" id=""> #}
                                             {{ form_widget(formChangePassword.password.new_password, {'attr': {'class': 'form-control ' }}) }}
                                             <i class="pw-eye pw-hide position-absolute" aria-hidden="true"></i>                                        
                                        </div>

                                    </div>
                                    <div class="form-row">

                                        <div class="form-group col-md-6 pw-field position-relative">
                                            <label for="">Conﬁrm New Password</label>
                                            {# <input type="password" class="form-control" id=""> #}
                                             {{ form_widget(formChangePassword.password.new_password_confirm, {'attr': {'class': 'form-control '}}) }}
                                             <i class="pw-eye pw-hide position-absolute" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    {# <button type="submit" class="btn btn-primary rounded-pill px-2">Change
                                        Password</button> #}
                                         {{ form_widget(formChangePassword.submit, {'attr': {'class': 'btn btn-primary rounded-pill px-2'}}) }}
                              {{ form_end(formChangePassword) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}
{% block pagejs %}
 <script type="text/javascript">
        $(document).ready(function () {
              $("i").click(function () {
                  let currEye=$(this).prev('input');
                  $(this).toggleClass('pw-hide pw-show');
                        var Val = currEye.attr("type");
                        if (Val == "password") {
                            currEye.attr("type", "text"); 
                         
                        }
                        else if (Val == "text") {
                            currEye.attr("type", "password"); 
                          
                        }
                    });


            $('#change_password_form').on('submit', function (e) {
                e.stopPropagation();
                $('#error_password').hide();
                var new_password = $('#change_password_type_password_new_password').val();

                if (new_password.length < 6) {
                    $('#error_password').text('Password must be 6 characters at least.');
                    $('#error_password').css('color', 'red');
                    $('#error_password').show();
                    return false;
                }

                var confirm_password = $('#change_password_type_password_new_password_confirm').val();
                if (new_password !== confirm_password) {
                    $('#error_password').text('The password fields must match.');
                    $('#error_password').css('color', 'red');
                    $('#error_password').show();
                    return false;
                }
                var $form = $(this);
                $.ajax({
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(), // serializes the form's elements.
                    success: function (data)
                    {
                        if (data.success === "success") {
                            //location.href = data.redirect_url;
                            $('#error_password').text('Your password has been successfully changed.');
                            $('#error_password').css('color', 'blue');
                            $('#error_password').show();
                        } else {
                            $('#error_password').html(data.msg);
                            $('#error_password').css('color', 'red');
                            $('#error_password').show();
                        }
                    },
                    error: function () {
                        $('#error_password').hide();
                    }
                });
                return false;
            });
        });
    </script>
    {% endblock %}