{% extends 'admin/layouts/col_1.html.twig' %}

{% set areaHeading = 'Platform Configuration' %}
{% set mainHeading = 'Mangopay Webhooks' %}
{% set maturityLabel = 'beta' %}

{% block page_content %}
    {% embed 'admin/components/_bordered_section.html.twig' with {
        "sectionId": 'mangopay-hooks',
        "sectionTitle": 'All Mangopay Hooks',
        "linkActions": [
            {
                "text": "Create New Hook",
                "route": "admin_webhooks_mangopay_create",
                "params": {},
                "style": "btn-success",
            },
            {
                "text": "View Recent Events",
                "route": "admin_webhooks_recent_events",
                "params": {},
                "style": "btn-outline-secondary",
            },
            {
                "text": "View All Mangopay Events",
                "route": "admin_events_mangopay_index",
                "params": {},
                "style": "btn-outline-secondary",
            },
        ]
    } %}
        {% block sectionContent %}
        {{ include('admin/components/_mangopay_pagination.html.twig') }}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Hook Id</th>
                        <th>Event Type</th>
                        <th>Creation Date</th>
                        <th>Endpoint Url</th>
                        <th>Status</th>
                        <th>Validity</th>
                        <th>Tag/Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hook in results %}
                    <tr class="tw-text-sm">
                        <td><a class="btn btn-outline-primary"
                            href="{{ path('admin_webhooks_mangopay_edit', { 
                            hookId: hook.Id }
                        ) }}">View/Edit</a></td>
                        <td>{{ hook.Id }}</td>
                        <td>{{ hook.EventType }}</td>
                        <td>{{ hook.CreationDate|date() }}</td>
                        <td>{{ hook.Url }}</td>
                        <td>{{ hook.Status }}</td>
                        <td>{{ hook.Validity }}</td>
                        <td>{{ hook.Tag }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    {% endembed %}
{% endblock page_content %}
