{% extends 'admin/layouts/kyc_review.html.twig' %}

{% set backToRoute = 'admin_kyc_vip' %}
{% set areaHeading = 'KYC - Top Yielders' %}
{% set mainHeading = 'KYC Top Yielder Review' %}
{% set baseLayout = 'col_2' %}

{% form_theme form with ['bootstrap_5_layout.html.twig'] only %}

{% block side_content %}

    <div class="xl:tw-sticky xl:tw-top-20">
        {{ include('admin/components/kyc/vip/_report_card.html.twig') }}
    </div>

{% endblock side_content %}

{% block page_content %}

    {{ include('admin/components/nav_menus/kyc_review_vip.html.twig') }}

    <div class="tab-content">

        {% set reviewSteps = {
            "tab-supporting-info": "_supporting_info",
            "tab-source-of-funds": "vip/_step_source_of_funds",
        } %}
        
        {% for stepId, template in reviewSteps %}
            <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ stepId }}" role="tabpanel">
                <section class="d-flex flex-column gap-4">
                    {% if loop.first %}
                        {{ include('admin/components/kyc/_start_step.html.twig') }}
                    {% elseif loop.last %}
                        {{ include('admin/components/kyc/_end_step.html.twig') }}
                    {% else %}
                        {{ include('admin/components/kyc/_next_step.html.twig') }}
                    {% endif %}
                    {{ include('admin/components/kyc/' ~ template ~ '.html.twig') }}
                </section>
            </div>
        {% endfor %}

    </div>

{% endblock page_content %}



