{% extends 'admin/pages/assets/list.html.twig' %}

{% set backToRoute = 'admin_asset_index' %}
{% set backToRouteParams = app.request.query.all %}
{% set mainHeading = 'Customisable Assets List' %}
{% set maturityLabel = 'alpha' %}

{% block createActions %}
	{% if is_granted('CAN_CREATE_ASSET', app.user) %}
		<a href="{{ path('admin_asset_add') }}" class="btn btn-success">
			Add Asset</a>
	{% endif %}
{% endblock createActions %}

{% block table %}
	<table class="table table-striped" id="assetlist">
		<colgroup>
			{% for colName in formFieldPicker.chosenFields.vars.choices %}
				<col id="col-{{colName.data}}" {% if colName.data not in defaultColumns %} style="visibility: collapse" {% endif %}>
			{% endfor %}
			<col id="col-status">
			<col id="col-actions">
		</colgroup>
		<thead>
			<tr>
				{% for colName in formFieldPicker.chosenFields.vars.choices %}
					<th>{{colName.label}}</th>
				{% endfor %}
				<th>Status</th>
				{% if is_granted('CAN_UPDATE_ASSET', app.user) %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for asset in objects %}
				<tr>
					{% for colName in formFieldPicker.chosenFields.vars.choices %}
						<td>
							{% if colName.data == 'name' %}
								{% if asset.visibility == constant('App\\Entity\\BaseEntity::VISIBILITY_ADMIN') %}
									<span class="badge text-bg-dark me-1">Admin</span>
								{% elseif asset.visibility == constant('App\\Entity\\BaseEntity::VISIBILITY_VIP') %}
									<span class="badge text-bg-dark me-1">VIP</span>
								{% endif %}
								<a href="{{ path('admin_asset_edit', { id: asset.id }) }}">{{ asset.name }}</a>
							{% else %}
								{% set fieldValue = attribute(asset, colName.data) %}
								{% if fieldValue.timestamp is defined %}
									{{ fieldValue|date("d/m/Y", false) }}
								{% else %}
									{{ fieldValue }}
								{% endif %}
							{% endif %}
						</td>
					{% endfor %}
					<td>{% include 'admin/pages/assets/_status.html.twig' %}</td>
					<td>{% include 'admin/pages/assets/_actions.html.twig' %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock table %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('table_customise') }}
{% endblock javascripts %}
